[2015-11-10 16:26] pixelzoom opened #1 "update README.md to reflect name change"
This sim (and repo) was renamed, but the README.md wasn't update to reflect the change. It still refers to "Expressions".

[2015-11-10 16:30] aaronsamuel137 commented on #1
Good catch. I've run unpublished-README again and pushed. Closing

[2015-11-10 16:30] #1 closed

[2016-01-05 00:51] pixelzoom opened #2 "generalize numeric spinner"
In https://github.com/phetsims/sun/issues/85 (numeric spinner), @ariel-phet wrote:

Assign this issue to @jbphet so that it's included in the work estimate for expression-exchange.

[2016-01-05 01:20] ariel-phet opened #3 "Expression Exchange master checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 08/14/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 08/21/2015)
- [x] **Design concept comple

[2016-01-11 19:22] jonathanolson opened #4 "Automated testing error"
Looks like TWEEN should be included, as Carousel depends on it.

[code]

[2016-01-16 16:50] samreid opened #5 "Build error: unacceptable licenses"
Running "requirejs:build" (requirejs) task

Warning: Task "requirejs:build" failed. Use --force to continue.

[2016-01-20 21:23] #5 closed

[2016-01-28 17:42] samreid opened #6 "Sound effects would enhance this simulation"
During today's meeting, @jbphet demonstrated the latest expression-exchange. It seems like it would enhance the simulation to add a sound effect for when terms combine and an expression gets larger, and a different sound effect for when an expression gets smaller (if that occurs in the sim).  In some simulations, sound effects may be distracting but here I think they could help students more quick

[2016-01-28 17:45] ariel-phet commented on #6
@amanda-phet seems like a question/consideration for you

[2016-01-29 18:21] amanda-phet commented on #6
When more of the sim functionality is implemented I think this is something we could consider. Right now I'm not sure it it helps to achieve the learning goals, but it's certainly worth discussing.

[2016-02-15 18:46] phet-steele opened #7 "lint failure"
@jbphet you have an unused variable! How could you?! :smile:
[code]

[2016-02-16 19:16] #7 closed

[2016-03-01 19:38] phet-steele opened #8 "lint failure EESharedConstants"
[code]

[2016-03-02 17:12] #8 closed

[2016-03-08 20:52] phet-steele opened #9 "Automated Testing Errors"
fuzztesting both requirejs and build, on phettest:
[code]

[2016-03-09 23:43] jbphet commented on #9
I was able to duplicate this manually by attempting to grab coin terms that were in motion as they were in the process of joining an expression.  This causes them to become "user controlled" again and then, when release, the code was attempting to add them again to the same expression.  I added code to make the coinTerms non-pickable when animating.  The fix has improved the behavior, but it is cu

[2016-03-14 20:38] jbphet opened #10 "create a dev version where expressions are same width in different view modes"
@kathy-phet has requested a version where the expressions don't collapse/expand when switching back and forth between variable and coin view modes.

[2016-03-14 23:14] jbphet commented on #10
I've added the code to do this, and added a query parameter called ```adjustExpressionWidth``` that is false by default.

[2016-03-14 23:15] jbphet commented on #10
Available here: http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.3/expression-exchange_en.html.

An email has been sent to @kathy-phet to make her aware that this is now available.

[2016-03-17 19:12] phet-steele commented on #9
fuzztesting requirejs:
[code]

[2016-03-17 19:13] phet-steele commented on #9
fuzztesting build:
[code]

[2016-03-22 18:29] phet-steele opened #11 "Automated Testing Sim Errors (3/22/2016 10:00 AM)"
requirejs:
[code]
built:
[code]

[2016-03-22 18:30] phet-steele commented on #9
First two errors occurred again on 3/22. See #11.

[2016-03-29 17:37] phet-steele commented on #9
First two errors (duplicates and undefined) happened again 3/29.

[2016-03-31 00:04] jbphet commented on #4
This is fixed, closing.

[2016-03-31 00:04] #4 closed

[2016-03-31 17:56] phet-steele opened #12 "Double expression"
@jbphet:
1. place a single coin just above an expression
2. take another coin and make an expression with the lone coin from step one

Two expressions will be made here where only one should have, and the sim will throw an error. This is on current master (3/31 around 9:30 AM):
![ee01](https://cloud.githubusercontent.com/assets/5863899/14185453/222965b6-f737-11e5-81b5-5fe06bcfab08.gif)

[2016-03-31 18:09] phet-steele opened #13 "Multitouch duplicates"
@jbphet, another way to cause https://github.com/phetsims/expression-exchange/issues/9#issue-139389984, with the use of multi touch.
1. Have one finger on an expression that is already made, and another finger on a lone term.
2. Bring the lone term close to the expression until the combining hint is shown.
3. From here, move the expression slightly away from the lone term.
4. Release the lonely te

[2016-04-01 02:46] phet-steele opened #14 "Failed assertion while hovering over break apart button"
If a combined coin is clicked, there is break apart button that appears. The button behaves normally if the coin is clicked once. However! DOUBLE clicking on a combined coin and moving your mouse to hover over the button throws this error:
[code]

This error is then succeeded by a new error once the button hides (probably a clue @jbphet);
[code]

These occurred on master as of ~7:00 PM (3/31).

[2016-04-01 03:09] phet-steele opened #15 "Broken coin has greater bounds"
A combined coin that is broken apart retains a higher height than normal. This only applies to the original coin that was broken, not the newly created coins that spread out. You can see this easily after adding that original coin to an expression:
![ee01](https://cloud.githubusercontent.com/assets/5863899/14196771/c1aa274a-f784-11e5-9681-2669671d6693.gif)

Tested on master as of ~7:00 PM (3/31).

[2016-04-01 18:58] jbphet commented on #10
This is done, and the version apparently worked well for the intended purpose, closing.

[2016-04-01 18:58] #10 closed

[2016-04-01 22:37] jbphet commented on #14
Fixed, closing.

[2016-04-01 22:37] #14 closed

[2016-04-01 22:39] jbphet commented on #11
Did a bunch of work on this, just ran fuzz testing for about 15 min with no problems.  Closing.

[2016-04-01 22:40] jbphet commented on #9
I tracked down the root cause of the assertions shown above, fixed them, and just ran with ```fuzzMouse=100``` for about 15 minutes with no issues.  Closing.

[2016-04-01 22:40] #9 closed

[2016-04-01 22:58] #15 closed

[2016-04-19 17:52] phet-steele opened #16 "Automated Testing Sim Error (4/19/2016 10:00 AM)"
[code]

[2016-04-20 20:44] jbphet commented on #16
I ran fuzz testing for about 10 minutes but was unabled to duplicate.  I looked at the spot in the code where this happened, and saw that the assertion that was hit had been put in place to track down a particular bug and wasn't really needed.  I removed it, and have run fuzz testing for about 6 minutes with no errors.  Closing.

[2016-04-20 20:44] #16 closed

[2016-05-02 18:15] pixelzoom opened #17 "issues with symbols (x, y, z)"
While working on function-builder, I was asked to "use the mathematical script symbols for x & y, as in Expression Exchange".  Looking at Expression Exchange, I noted these potential issues:

(1) The symbols x, y and z are not localized. They do not appear in expression-exchange-strings_en.json, and are in fact literals in the code. Eg in ExpressionManiplationView:

`new Text( 'x', { font: new Phe

[2016-05-02 18:22] pixelzoom commented on #17
Unicode for "mathematical script small"

x: http://www.fileformat.info/info/unicode/char/1d4cd/index.htm
y: http://www.fileformat.info/info/unicode/char/1d4ce/index.htm
z: http://www.fileformat.info/info/unicode/char/1d4cf/index.htm

Unicode for "mathematical italic small"

x: ://www.fileformat.info/info/unicode/char/1d465/index.htm
y: http://www.fileformat.info/info/unicode/char/1d466/index.htm
z

[2016-05-02 21:17] pixelzoom commented on #17
The consensus for function-builder was that the "mathematical italic small" versions of these symbols were the look they wanted.

[2016-05-03 18:13] jbphet opened #18 "namespace"
This simulation needs to be namespaced.

[2016-05-03 18:35] #18 closed

[2016-05-05 19:55] jbphet commented on #17
This issue was discussed in the 5/5/2016 design meeting, the outcome was:

1. use the unicode symbols the @pixelzoom arrived at in function builder
2. defer on whether or not to localize the symbols until later in the development process, probably around August of this year

[2016-05-10 18:49] phet-steele opened #19 "Automated Testing Build Errors (5/10/2016 10:00 AM)"
[code]

[2016-05-13 18:27] jbphet commented on #19
Lint error has been fixed, closing.

[2016-05-13 18:27] #19 closed

[2016-05-17 16:32] phet-steele opened #20 "Automated Testing Build Errors (5/17/2016 10:00 AM)"
[code]

[2016-05-17 17:05] #20 closed

[2016-05-18 18:28] pixelzoom commented on #17
FYI, https://github.com/phetsims/scenery/issues/545#issuecomment-220116510:

[2016-05-24 16:42] phet-steele opened #21 "Automated Testing Build Errors (5/24/2016 10:00 AM)"
[code]

[2016-05-25 16:11] jbphet commented on #21
Fixed, closing.

[2016-05-25 16:11] #21 closed

[2016-06-02 18:24] phet-steele opened #22 "Automated Testing Build Error (6/2/2016 11:30 AM)"
[code]

[2016-06-07 16:58] phet-steele opened #23 "Automated Testing Sim Errors (6/7/2016 10:00 AM)"
[code]

[code]

[code]

[code]

[2016-06-08 20:02] jbphet opened #24 "create artwork for home screen and nav bar icons"
The sim is currently auto generating random icons.  Since we're about to publish a dev version that will be used for designing activities, it would be good to put "real" icons in the sim.

[2016-06-08 20:02] jbphet commented on #24
Assigning to @ariel-phet initially, since I'm not sure if @amanda-phet will be available to work on this.

[2016-06-09 01:01] ariel-phet commented on #24
@amanda-phet I don't think there is a huge rush on these icons, but obviously will need to be done before publication

[2016-06-13 16:48] phet-steele opened #25 "Parentheses around squared negative variables"
@amanda-phet should we consider adding parentheses around all instances of the squared negative terms? Students certainly have trouble understanding the order of operations here, and don't know if this should be 4 or -4:
<img width="113" alt="screen shot 2016-06-13 at 10 45 43 am" src="https://cloud.githubusercontent.com/assets/5863899/16015659/06cfbd72-3154-11e6-8bba-6653cac746f2.png">

Enabling

[2016-06-13 16:57] amanda-phet commented on #25
screen shot 2016-06-13 at 10 45 43 am

You are indeed correct, which is why we have designed this sim in this way! We want students to see the term in this way so that they learn how to interpret it when they come across it later.

[2016-06-13 16:59] phet-steele commented on #25
@amanda-phet, right-o! Kudos to the design team.

[2016-06-13 16:59] #25 closed

[2016-06-13 22:12] jbphet commented on #23
I believe these are all fixed, closing.

[2016-06-13 22:12] #23 closed

[2016-06-13 22:14] jbphet commented on #22
fixed, closing

[2016-06-13 22:14] #22 closed

[2016-06-22 19:18] phet-steele opened #26 "[iOS] Text Artifacts"
Dragging a variable term around leaves these behind; this trail was from the x2y2 term:
![img_0046](https://cloud.githubusercontent.com/assets/5863899/16280075/1df7dc22-387b-11e6-8106-6c957b959363.PNG)

[2016-06-22 21:06] phet-steele opened #27 "You're allowed an unlimited number of negative terms"
😞

[2016-06-22 21:40] phet-steele opened #28 "Can't break apart negatives on the Variables screen"
😭

[2016-06-22 21:45] phet-steele commented on #28
Nor the constant terms.

[2016-06-23 17:36] #27 closed

[2016-06-24 17:34] jbphet commented on #28
The design team decided that, at least for now, it shouldn't be possible to break apart constants.  In the June 9 meeting notes in the design doc it says, "...no edit/break apart on just a constant".

[2016-06-24 17:35] jbphet commented on #28
Fixed for negatives, closing.

[2016-06-24 17:35] #28 closed

[2016-06-24 22:49] phet-steele opened #29 "Button to break apart shown on non-combined terms"
Done via a fast procedure: click on a term that can be broken and while the button is shown, quickly decrease the coefficient of the term by combining a negative term:
![ee01](https://cloud.githubusercontent.com/assets/5863899/16352435/7f6b3a92-3a2b-11e6-8241-db30d99b2240.gif)

[code]

[2016-06-24 22:51] phet-steele opened #30 "Negatives in My Collection panel not shown when "variable values" selected"
😠
<img width="427" alt="screen shot 2016-06-24 at 4 50 25 pm" src="https://cloud.githubusercontent.com/assets/5863899/16352467/cea00f66-3a2b-11e6-9427-a28c9c70c441.png">

[2016-06-27 17:23] #30 closed

[2016-06-27 19:40] jbphet commented on #12
I just tested this on the current master and on http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.12/expression-exchange_en.html and it seems to work fine.  I didn't explicitly fix this issue, so I think it's something that got resolved while working on other aspects of the development.  Assigning back to @phet-steele to verify that I haven't missing something.  @phet-ste

[2016-06-30 17:06] phet-steele commented on #12
@jbphet I can reproduce reliably in 1.0.0-dev.3, but I can't in 1.0.0-dev.12.

[2016-06-30 17:06] #12 closed

[2016-07-05 16:38] phet-steele commented on #11
Hitting "duplicates are not allowed" on 7/5 automated testing. Ran for 45 seconds and `?fuzzMouse=100` hit the assertion twice.

[2016-07-06 18:43] jbphet commented on #11
I added a number of fixes, but one was a partial workaround.  I'm going to close this issue and log a separate one to track this.

[2016-07-06 18:43] #11 closed

[2016-07-06 18:47] jbphet opened #31 "coin terms can be redundantly added to an expression during fuzz testing"
Fuzz testing revealed an issue where coin terms can sometimes be added back to an expression where they already reside.  This ends up hitting and assertion.  I spent several hours looking for the root cause but wasn't able to figure it out, and have decided to table it for now, since it is unlikely to impact users.  I added a simple workaround that just skips the add if the coin term is already pa

[2016-07-06 21:26] phet-steele opened #32 "Return coins that go off screen"
Something from the design doc @jbphet wanted in an issue:

I could see this also applying to combined coins which are close to the edge of the screen when they are broken apart.

[2016-07-08 18:24] phet-steele opened #33 ""z" variable is not on the Variables screen; should be removed from the Values panel"
:ghost:

[2016-07-08 20:26] phet-steele opened #34 "Expression Biopsy"
@jbphet  I can't make this happen with coins, so use variables for this procedure.

On a touch screen:
1. Make an expression
2. Place your finger above the expression
3. Slowly move your finger down, and use touchSnag to grab a term

https://drive.google.com/file/d/0B5V5jeifFYeSVkNuNFRQQUJsM0k/view?usp=sharing

Details:
- again, I've only been successful with variables
- again, you must move your

[2016-07-08 21:16] phet-steele commented on #34
@jbphet I can't get the error because you removed the assertion :) (maybe in #11?)

[2016-07-19 22:58] jbphet commented on #33
Assigning to @amanda-phet to make sure that she agrees before I implement.

[2016-07-19 23:13] jbphet commented on #24
I've implemented a set of icons based on what @amanda-phet put in the design doc.  These can be seen in this version: http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.14/expression-exchange_en.html.  @amanda-phet should review and, if these look like they'll do the trick, close the issue.

[2016-07-20 18:24] phet-steele commented on #29
Fixed, closing.

[2016-07-20 18:24] #29 closed

[2016-07-20 22:32] jbphet commented on #34
This is due to a slight protrusion of the touch and mouse areas from the bounds of the expression.  Here is a screenshot from the latest dev version, http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.14/expression-exchange_en.html:

![ex-ex-pointer-areas](https://cloud.githubusercontent.com/assets/3082831/17005284/a3bd57de-4e96-11e6-8c0c-f2b1d01c8751.PNG)

This was probab

[2016-07-20 22:33] jbphet commented on #34
By the way, here's a post-fix screen shot:

![ex-ex-pointer-areas-fixed](https://cloud.githubusercontent.com/assets/3082831/17005475/a8b4ec9c-4e97-11e6-8b6f-aceb2e3325a9.PNG)

[2016-07-20 22:45] phet-steele opened #35 "Terms fail to be removed from the model"
Certain terms in an expression will not correctly return to the carousel if their node does not overlap with the carousel. They will animate towards the correct destination, but then not leave the play area and will be hovering over the carousel. Terms will remain in the My Collection panel to reflect this.

In each of the below conditions, follow the order of terms in the expression explicitly. A

[2016-07-20 22:49] jbphet commented on #31
This may have been fixed, or at least improved, by https://github.com/phetsims/expression-exchange/commit/7777165a96e4f26be4b701523283fa49f3c241f0.

[2016-07-21 16:02] amanda-phet commented on #33
Ha! of course. let's remove z from the values panel on the Variables screen

[2016-07-21 16:05] amanda-phet commented on #24
Just one minor request: On the Variables screen icon, the subtraction sign should be a little larger to match what the sim would look like.

![screen shot 2016-07-21 at 10 04 39 am](https://cloud.githubusercontent.com/assets/7852916/17029957/a1d64536-4f2a-11e6-81d8-b7d3234a5a57.png)

[2016-07-21 16:12] amanda-phet commented on #34
Quick question: can I request that touch areas extend a bit more below the terms? On a touch device it might be nice to be able to drag a term without having to completely cover the term.

[2016-07-22 17:43] jbphet commented on #31
Nope, not fixed, at least not entirely.  The fuzz testing seemed to go longer (well over 10 minutes in one test), but eventually did hit the issue where coin terms were being added back to the same expression.

[2016-07-25 15:41] pixelzoom opened #36 "LeftRightNumberSpinner issues"
Issues noted while reviewing this implementation for https://github.com/phetsims/sun/issues/85.

(1) It's not just a spinner

... it also includes a very specific label and equals sign to the left of the spinner, e.g. "x =".  So I'm not going to attempt to  generalize this, and it will up to @jbphet to incorporate the spinner that's being generalized in https://github.com/phetsims/sun/issues/85.

[2016-07-25 16:42] phet-steele commented on #34
@jbphet I'll wait to test after you are done changing touch areas.

[2016-08-08 19:55] pixelzoom commented on #36
Now that sun.NumberSpinner has been generalized (see https://github.com/phetsims/sun/issues/85), expression-exchange should use it.

[2016-08-25 23:14] pixelzoom opened #37 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:28] pixelzoom commented on #37
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:28] #37 closed

[2016-09-08 00:45] jbphet commented on #24
I changed the subtraction sign to use the Unicode character and the text font (as opposed to the math font), and it looks good.  Closing.

[2016-09-08 00:45] #24 closed

[2016-09-21 16:29] jbphet commented on #17
At this point in the development, we are using the MathSymbolFont, and it is working well.  I'm going to unassign this issue and we will decide when the sim gets closer to publication whether the symbols used in the equations should be translatable.

[2016-09-21 18:51] jbphet commented on #34
I have finished adjusting pointer areas such that they don't protrude from expressions.  @phet-steele - please test and indicate whether the issue appears to be resolved.

@amanda-phet - I shifted the pointer areas down as much as possible without having them protrude from the expression.  Please test this once the rest of the issue is resolved.  If you'd like further work done on this, please ope

[2016-09-21 18:58] jbphet opened #38 "squared terms are not combining into expressions properly on iPad"
While testing the solution for #34 on an iPad (the specific device was an iPad 2 labeled "Witten"), I found that combining the squared terms on the "Explore" screen wasn't working properly.  If I drag out an x-squared term, drop it, then try to combine it with and x-squared-y-squared term, the expression hints don't show up, and dropping the second term next to the first doesn't result in an expre

[2016-09-21 19:02] jbphet commented on #38
I just duplicated this on the PhET iPad named "Dalton", which is an iPad Air 2, so this is not something that is unique to iPad 2 devices.

[2016-09-21 20:37] jbphet commented on #33
Done, closing.

[2016-09-21 20:37] #33 closed

[2016-09-23 20:44] jbphet opened #39 "replace usages of TWEEN in model with explicitly stepped animations"
Over Skype, @pixelzoom et al has pointed out some issues with using TWEEN for creating motion in the model, so such usages should probably be replaced with explicitly stepped motion.

[2016-09-23 20:50] jbphet commented on #39
For my reference, here is a list of some easing equations that I may be able to use in order to get the sort of animations that I was after when using TWEEN: http://gizma.com/easing/

[2016-09-23 22:52] jbphet commented on #35
I am kind of able to duplicate this on http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.14/expression-exchange_en.html.  It's not as easy to recreate as described above, but I was able to get some terms left over (evidenced by the fact that they didn't disappear from the "My Collection" display box) if I went to the first screen and created an expression with all the ava

[2016-09-23 23:41] jbphet commented on #32
I've added code that moves coin terms that end up outside of the dev bounds to the top of the in-bounds play area.  There is some detection and avoidance done of coin terms that are already in that space.  I can't say that I think this approach is **great**, because it would be better to make the coin terms come in bounds and end up near the other coin terms that came from the same expression or c

[2016-09-26 23:57] jbphet commented on #36
The new NumberSpinner has been integrated and is lookin' good.  Closing.

[2016-09-26 23:57] #36 closed

[2016-09-26 23:58] jbphet commented on #2
@pixelzoom and @andrea-phet took care of generalizing the number spinner, closing.

[2016-09-26 23:58] #2 closed

[2016-09-27 23:17] ariel-phet commented on #32
I think this is good enough, we can see if problems arise in interviews, but you have made a good faith effort to deal with an issue that is an edge case. Closing

[2016-09-27 23:17] #32 closed

[2016-09-28 18:17] amanda-phet commented on #34
@jbphet Is it possible to publish a dev version or can you include a screenshot of the touch bounds?

[2016-09-28 21:53] jbphet commented on #34
I just published a dev version, please see http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.15/expression-exchange_en.html, but the bounds still poke out of the bottom just a little, so I'll need to adjust them a bit.  They will look like they do in this version but just a little bit smaller in the vertical direction.

[2016-09-29 20:43] phet-steele commented on #35
@jbphet, easily reproduced on master (working as of 2:42 PM 9/29) with an expression of all 8 x^2 terms (variables or coins).

[2016-09-29 23:15] jbphet commented on #34
I've adjust the point areas again, and hopefully they are good to do now.

If this doesn't work, I may want to consider reducing the touch areas when a coin term is inside an expression.  Right now this would be a bit tricky, because coin terms are not aware of being in an expression, but that could be changed.

[2016-10-05 22:00] #38 closed

[2016-10-05 22:18] #35 closed

[2016-10-10 20:47] jbphet opened #40 "rewrite to no longer use PropertySet"
See https://github.com/phetsims/axon/issues/102 for background.

[2016-10-10 21:52] amanda-phet commented on #34
The pointer areas on the explore screen are a little funny for 2x and 3y.
![screen shot 2016-10-10 at 3 48 15 pm](https://cloud.githubusercontent.com/assets/7852916/19252323/86b1081a-8f01-11e6-80c2-5a2cad107c66.png)

Also, is there a reason for the pointer areas being different for the break-apart and edit buttons? I would make both buttons have the smaller pointer area for a mouse cursor and larg

[2016-10-11 20:24] jbphet commented on #40
Done. closing.

[2016-10-11 20:24] #40 closed

[2016-10-12 15:38] jbphet commented on #34
@amanda-phet

On which version were you testing?  I've adjusted these on master, but the changes would not yet be reflected in the current dev version (1.0.0-dev.16).

The pointer areas for coins are not extended, so they just match the boundary of the nodes themselves.

Good eye!  I've removed the extended mouse area for the break apart button.

[2016-10-12 17:29] amanda-phet commented on #34
I was testing on dev.15. Sounds like it is fixed now so that's all that matters!

Can we close this issue?

[2016-10-14 17:29] jbphet commented on #34
Yes, I think we've covered it.  Closing.

[2016-10-14 17:29] #34 closed

[2016-10-18 17:01] phet-steele opened #41 "Automated Testing Sim Error (10/18/2016 10:00 AM)"
[code]

[2016-10-19 21:10] #41 closed

[2016-10-31 21:06] pixelzoom opened #42 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:36] pixelzoom commented on #42
This sim doesn't have a *QueryParameters file, so I'm not going to do the conversion.

[2016-11-01 18:16] jbphet commented on #42
I'll take care of it.

[2016-11-11 21:33] #42 closed

[2016-11-12 08:08] jonathanolson opened #43 "LevelSelectionButton parameters are undefined"
At least numStars is undefined (from StartGameLevelNode) in some cases, leading to invalid information being passed to Scenery.

Passed my threshold for fixing, as I don't know enough about the sim to immediately track it down. Added assertion in LevelSelectionButton, which is hopefully better than the recently-added Scenery assertion that would fail later.

[2016-11-14 18:38] #43 closed

[2016-11-15 18:06] phet-steele opened #44 "Automated Testing Sim Error (11/15/2016 9:58 AM)"
[code]

[2016-11-15 18:06] phet-steele opened #45 "Automated Testing Lint Error (11/15/2016 9:58 AM)"
[code]

[2016-11-16 19:36] phet-steele opened #46 "Simplifying negatives doesn't account for negative coefficients"
1. Make a setup on the Variables screen with the following conditions:

- Create expression: 1 + (-x)
- With the Values panel, set x = -1

The total will read "2" (correct, 1 + (-(-1) = 2)

<img width="1905" alt="screen shot 2016-11-16 at 12 17 09 pm" src="https://cloud.githubusercontent.com/assets/5863899/20361927/ab064740-abf6-11e6-8e58-9c6f74f61271.png">

2. Enable the checkboxes for "all coeff

[2016-11-16 19:45] amanda-phet commented on #46
To further clarify the correct behavior, after step 3 above the expression should be 1 – 1x.

[2016-11-16 22:22] phet-steele opened #47 "Have a hint on both terms when adding to an existing expression?"
@amanda-phet take the following into consideration:

When combining terms, both the user controlled (moving) coin and the coin in the play area (anchor) receive a yellow halo. This makes it very obvious exactly which coins will end up combining (moving is the middle coin):

<img width="215" alt="screen shot 2016-11-16 at 2 50 11 pm" src="https://cloud.githubusercontent.com/assets/5863899/20367492/

[2016-11-16 22:29] jbphet commented on #47
@phet-steele and I discussed this a bit.  I don't object to the idea, but it wouldn't be an easy change to make at this point in the development because the hints are associated with the expression, not the coin-term that is about to join the expression.  It could definitely be done, but it seems like a bit of a rare case, and in my opinion the current behavior is not particularly confusing, so I

[2016-11-17 00:14] amanda-phet commented on #47
Thanks for the thoughtful suggestion. Let's see what happens in interviews, but cost is an important factor, especially at this stage in the sim development.

[2016-11-17 18:13] phet-steele commented on #26
Also being seen on macOS 10.12.1 Safari 10.

[2016-11-17 21:18] jbphet commented on #46
This should now be fixed.  Assigning to @phet-steele to verify on master.

[2016-11-17 21:19] jbphet commented on #45
Fixed, closing.

[2016-11-17 21:19] #45 closed

[2016-11-19 06:56] jonathanolson commented on #44
Obligatory "This failure shows up reliably in automated testing, so I haven't been able to fix any usage that triggers recently-added Scenery assertions, or check it for any failures related to recent Scenery changes."

[2016-12-05 06:08] samreid commented on #44
I saw this again today:

[code]

[2016-12-07 20:42] amanda-phet opened #48 "Change order of carousel items on Variables screen"
I noticed in interviews that students were excited to play with negative terms, so I think it would be nice to have them be more visible on the Variables screen. Another reason to rearrange the carousel items is to have terms that "cancel" next to each other, to make it more likely that a student will discover what happens when you combine two opposites (such as x and -x). It is annoying to swipe

[2016-12-07 20:44] amanda-phet commented on #6
After seeing students using this sim in interviews, I don't think a sound effect would have added to what the student was learning in the sim without sound.

[2016-12-07 20:44] #6 closed

[2016-12-09 22:01] jbphet commented on #44
This problem appears to arise when `CoinTerm.travelToDestination( destination )` is called and the coin term is already at the specified location.  In this case, the TWEEN animation ends up trying to set a non-numeric position value.  I'm not sure exactly why this is - it seems like an issue inside of TWEEN - but adding an `if` clause that doesn't create the TWEEN animation if the coin term is alr

[2016-12-09 22:01] #44 closed

[2016-12-14 18:52] jbphet commented on #48
Done, closing.

[2016-12-14 18:52] #48 closed

[2017-01-19 18:27] samreid opened #49 "Can/should there be common code to support card stacks?"
We have other simulations with card stacks?  Can this code be generalized, or must it be re-implemented for each sim with card stacks?  What about the model element creator patterns?  @pixelzoom avoided model element creator pattern in Function Builder.  See also Area Builder, Fractions Intro, etc.

[2017-01-19 18:32] pixelzoom commented on #49
We have discussed "creator" pattern in https://github.com/phetsims/scenery-phet/issues/214.  Smelly code identified in https://github.com/phetsims/scenery-phet/issues/214#issuecomment-174014179.

[2017-01-19 22:01] jbphet opened #50 "icons needed for the game screen"
We need icons for the game screen. There are eight levels.

[2017-01-20 17:30] samreid opened #51 "Card stacking direction"
I noticed that Build a Fraction cards stack down to the right and Expression Exchange stacks up to the right.

![image](https://cloud.githubusercontent.com/assets/679486/22158808/4f5b5358-defb-11e6-8482-7a86880d7fcd.png)

![image](https://cloud.githubusercontent.com/assets/679486/22158823/60ea7b76-defb-11e6-9cc9-ead7f6353ecc.png)

It seems like we used to stack up to the right in Fractions, but ch

[2017-01-20 17:30] samreid opened #52 "Baseline (instead of centers) of cards should be aligned"
It would look nicer if the cards were aligned along their baselines instead of centers.  It will help with the stacking analogy and being able to see stack sizes.

![image](https://cloud.githubusercontent.com/assets/679486/22158808/4f5b5358-defb-11e6-8482-7a86880d7fcd.png)

![image](https://cloud.githubusercontent.com/assets/679486/22158823/60ea7b76-defb-11e6-9cc9-ead7f6353ecc.png)

[2017-01-23 17:55] jbphet commented on #51
Assigning to @amanda-phet to decide if the downward stacking direction is preferred.

[2017-01-23 20:16] amanda-phet commented on #51
I'd like to know what @ariel-phet thinks because if there was evidence from interviews on Fractions Intro that the downward stacking is preferable we should stick with that direction. Up and right feels natural to me because the stacks grow upward toward the area we are dragging them, but that was my only reason for doing it so I'm not tied to it if there's a good reason to change.

[2017-01-23 21:00] ariel-phet commented on #51
@amanda-phet I looked over the design doc (we were not as good at taking notes back then) and nothing pops out. I believe this was just an aesthetic decision. You will notice it is not even consistent for Build a Fraction. When the stacks are "shape" pieces they stack up and to the right (which is necessary so that the stacks do not interfere with the shape container from which they are being pull

[2017-01-23 22:21] samreid commented on #51
I cannot see any comments in the simulation that indicate why a specific direction was chosen.

[2017-01-24 07:00] samreid commented on #49
@jbphet and I discussed this on Friday.  Build a Fraction has card stacks but also shape stacks. It seems unlikely that the shape stacks would be able to reuse much code.  It also seemed unlikely that expression exchange would be able to share code with build a fraction, unless it was heavily refactored.

@jbphet anything else to add for this issue?

[2017-01-24 16:37] jbphet commented on #49
I added some documentation to `CoinTermCreatorNode` about how it might be generalized in the future.  Even though @pixelzoom feels like there is some "smelly code" in other instances of the creator node pattern, I still feel it has potential for generalization.

Another thing to note is that one of the big differences between how Build a Fraction and Expression Exchange operate is that the former

[2017-01-24 16:37] #49 closed

[2017-01-24 17:00] pixelzoom commented on #49
@jbphet said:

If you read https://github.com/phetsims/scenery-phet/issues/214#issuecomment-174014179, you'll see that @jonathanolson identified the code in question.  I was just reporting that here (though I happen to agree with him about "smell"). Other issues were also reported in https://github.com/phetsims/area-builder/issues/83 - some were addressed, some weren't. So while I agree with you t

[2017-01-24 17:35] samreid commented on #49
I agree, CCK worked very well to have the "creator nodes" pattern and Build a Fraction worked very well to have the "cards are already in the model" pattern.

[2017-01-26 21:24] amanda-phet opened #53 "Add the subtraction checkbox to levels 5-8"

[2017-01-31 17:28] phet-steele opened #54 "Automated Testing Lint Error (1/31/2017 10:00 AM)"
[code]

[2017-02-01 19:18] jbphet commented on #54
Fixed, closing.

[2017-02-01 19:18] #54 closed

[2017-02-02 23:04] jonathanolson opened #55 "Automated testing error"
[code]

[2017-02-03 17:50] jbphet commented on #55
This looks like it is due to an erroneous commit related to https://github.com/phetsims/scenery/issues/528.

[2017-02-03 17:55] jbphet commented on #55
Fixed by fixes to aforementioned scenery issue, closing.

[2017-02-03 17:55] #55 closed

[2017-02-11 00:12] jbphet opened #56 "test that the challenges were all entered correctly"
The game screen has 8 levels with 5 challenges each for a total of 40 challenges.  Each challenge has 3 equations that the user needs to construct to complete the challenge, so there are 120 equations.  I've entered all of these into the code, but I did it quickly, and probably didn't get them all right.  I could use some help verifying them.

I've published a version where the order of the challe

[2017-02-13 17:03] phet-steele commented on #56
@jbphet @amanda-phet it's my understanding that level 2 is not yet supposed to have left over terms in the carousel. If that's true the last challenge has one too many "y" terms.

<img width="127" alt="screen shot 2017-02-13 at 10 01 03 am" src="https://cloud.githubusercontent.com/assets/5863899/22893613/6668e084-f1d3-11e6-9a49-161f7ffe907d.png">

The targets add to 4 "y" terms, but there are five

[2017-02-13 17:21] phet-steele commented on #56
Same deal in the last challenge of level 4. There are 4 "y<sup>2</sup>" terms in the targets, but 5 in the carousel.
<img width="124" alt="screen shot 2017-02-13 at 10 19 51 am" src="https://cloud.githubusercontent.com/assets/5863899/22894405/1a5c5cae-f1d6-11e6-95a1-53ccaf7ff444.png">

[2017-02-13 17:33] phet-steele commented on #56
Level 5, I also could not think of a way to not have left overs in the first challenge. I always had 2{1} left over.

<img width="130" alt="screen shot 2017-02-13 at 10 32 16 am" src="https://cloud.githubusercontent.com/assets/5863899/22894848/b81fe900-f1d7-11e6-9118-ded18f0dd5d0.png">

[2017-02-13 17:50] phet-steele commented on #56
@jbphet, third challenge of level five, first target should be "y-2x", not "y-2y".

![screen shot 2017-02-13 at 10 49 49 am](https://cloud.githubusercontent.com/assets/5863899/22895591/4536f246-f1da-11e6-93af-0bf3bae0e1bd.png)
<img width="117" alt="screen shot 2017-02-13 at 10 49 53 am" src="https://cloud.githubusercontent.com/assets/5863899/22895599/49f8785e-f1da-11e6-955f-0ac3287e8507.png">

[2017-02-13 17:58] phet-steele commented on #56
@amanda-phet first challenge of level six, I always had some combination leading to -2x being left over (whether it was 1{-2x} or 2{-x})

<img width="117" alt="screen shot 2017-02-13 at 10 57 38 am" src="https://cloud.githubusercontent.com/assets/5863899/22895884/42981334-f1db-11e6-8910-b7abacfb184f.png">

[2017-02-13 18:00] phet-steele commented on #56
@jbphet 3rd challenge of level 5, carousel should contain one "-4z", not "-3z".

![screen shot 2017-02-13 at 10 59 40 am](https://cloud.githubusercontent.com/assets/5863899/22895982/a6ea07ac-f1db-11e6-9e30-986527b62338.png)
<img width="118" alt="screen shot 2017-02-13 at 10 59 47 am" src="https://cloud.githubusercontent.com/assets/5863899/22895990/aac8e08c-f1db-11e6-8ab2-758488b21a29.png">

[2017-02-13 18:05] phet-steele commented on #56
@amanda-phet the 4th challenge of level 6 is an interesting one. The left over terms equate to 0       (1{y}, 1{-y}). I can go out of my way to use them, but the simplest solution leaves them unused. This one may be okay to not change, but still noting it.

<img width="121" alt="screen shot 2017-02-13 at 11 03 16 am" src="https://cloud.githubusercontent.com/assets/5863899/22896160/40ac31e4-f1dc-11

[2017-02-13 18:09] phet-steele commented on #56
@amanda-phet the last challenge in level 6 is my **first** unsolvable prompt. I do not have the 12 "y" terms the targets are asking for, I only have 11.

<img width="129" alt="screen shot 2017-02-13 at 11 07 56 am" src="https://cloud.githubusercontent.com/assets/5863899/22896297/d135121c-f1dc-11e6-8bae-072cb4bad989.png">

[2017-02-13 18:15] phet-steele commented on #56
@jbphet 3rd challenge of level 7 wants 2{3}, not 1{3}.

![screen shot 2017-02-13 at 11 13 41 am](https://cloud.githubusercontent.com/assets/5863899/22896492/948b8d4a-f1dd-11e6-86fa-c1216d0cc1de.png)

<img width="131" alt="screen shot 2017-02-13 at 11 14 31 am" src="https://cloud.githubusercontent.com/assets/5863899/22896499/9eef168a-f1dd-11e6-8a58-8977d1902618.png">

[2017-02-13 18:35] phet-steele commented on #56
@amanda-phet the 4th challenge of level 8 is unsolvable. I cannot make a positive "2" term for the first target.

![screen shot 2017-02-13 at 11 34 45 am](https://cloud.githubusercontent.com/assets/5863899/22897312/78eb10ee-f1e0-11e6-9719-3b2202551a6d.png)
<img width="116" alt="screen shot 2017-02-13 at 11 34 49 am" src="https://cloud.githubusercontent.com/assets/5863899/22897316/7eba83d8-f1e0-11e

[2017-02-13 18:36] phet-steele commented on #56
@jbphet I've finished and problems are noted in the string of comments above. I'll edit the first post to include a checklist of comments to make this easier to read.

[2017-02-13 20:29] samreid opened #57 "PhET-iO Input Event Instrumentation"
On Feb 12, 2017, at 11:06 AM, Whitacre, Ian asked if we can instrument the simulation for input events.  This will likely be not too much work, mainly making sure it can run without tandems.  I'll look into this part.

@jbphet can you please comment on whether the simulation is stable enough to use with one of our collaborators?  I'm not sure what level of QA @kathy-phet has in mind.

[2017-02-13 20:37] kathy-phet commented on #57
FYI - He's likely to use it, even if it has some bugs! He is part of the grant group for this project so even if it has bugs, we will learn something. Teachers know these are "underconstruction". The game will not be used, obviously.

[2017-02-13 20:39] samreid commented on #57
The preceding commit makes it possible to run the simulation with phetioValidateTandems=false and to capture the input events.  After we get the go-ahead from @jbphet we can create a new Metacog application for this use case.

@kathy-phet any idea what to use for the Learner ID login pattern?  Would you like to check with Ian about it?

[2017-02-13 22:08] jbphet commented on #57
Wow, I had no idea that instrumentation for this simulation was on the horizon.  I am currently in the process of developing the game screen, and as I do that I'm generalizing the code from the other screens to maximize the amount of reuse.  This is causing a lot of code to change, little of which has been retested, so I think that starting to instrument the sim now would result in a fair amount o

[2017-02-13 22:19] pixelzoom commented on #57
@jbphet said:

Function Builder has no separate model-view transform (the coordinate frames are identical), so perhaps that's what you're referring to. But in all other respects, it has very separate model and view.

[2017-02-14 00:39] kathy-phet commented on #57
John - Just to clarify ... input instrumentation is on the horizon, not full PhET-iO instrumentation! (no events, no states). That is not even on the radar at all.

The input instrumentation just allows Ian to essentially collect video of the students interacting with the sim, since we don't have the capability of recording from the screen in the classrooms.

[2017-02-14 15:10] kathy-phet commented on #57
Dev.18 would be good for Ian if Sam could build with those shas. If it's not straight forward Sam let me know.

Kathy

Sent from my iPhone

On Feb 13, 2017, at 3:09 PM, John B <notifications@github.com<mailto:notifications@github.com>> wrote:

Wow, I had no idea that instrumentation for this simulation was on the horizon. I am currently in the process of developing the game screen, and as I do tha

[2017-02-14 16:29] samreid commented on #57
Dev.18 is incompatible with master phet-io.  PhET-iO from the same day seems to work,  @zepumph do you think using the input events from Nov 17 will be OK?  It seems OK in the mirror wrapper from nov 17.

[2017-02-14 16:40] jbphet commented on #57
@kathy-phet said,

Yes, I understand that.  My concern is more that the code has undergone a lot of changes recently and isn't really in an ideal state to do a quick release.  It can be done, but it will likely take time away from the main development effort, so it would be less disruptive to go with a previous dev release if possible.  If not, we'll do it from master.

[2017-02-14 17:07] samreid commented on #57
Lots of hacks to get this to work.  EE isn't working with ?ea, builds are failing because package.json is missing uglify.  Lint isn't passing.  I tried to build an RC but it isn't appearing.  I'll check the build logs.

[2017-02-14 17:09] samreid commented on #57
Oh perhaps build failure due to lint error.

[2017-02-14 17:18] samreid commented on #57
I patched phet-io with a branch and published here:
http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-phetiorc.1/wrappers/mirror-inputs/mirror-inputs.html?sim=expression-exchange&launchLocalVersion

Next steps:
1. Testing the mirror wrapper
2. Building a metacog application
3. Testing sending data to metacog
4. Test retrieving data from metacog (may be buggy currently){
5. Te

[2017-02-14 18:48] Denz1994 opened #58 "Approach to event forwarding for CoinTermNodes"
After some discussion with @samreid over Masses and Springs, we discovered that forwarding the events of an icon its respective node can be done without duplicating code in the event listeners. Adding a method to the node that takes in the event from the icon makes forwards the events without requiring a translate or end listener for the icon.

Here is the code that may be deleted by forwarding us

[2017-02-14 19:27] kathy-phet commented on #57
Thanks.

@John- priority is move forward with your current implementation of what you are doing, not pause to make a stable version now. But since Sam was able to make dev.18 work we will try to deliver that with inputs to Ian.

K

Sent from my iPhone

On Feb 14, 2017, at 10:19 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

I patched phet-io with a branch and publ

[2017-02-14 19:41] samreid commented on #57
@kathy-phet said:

[2017-02-14 19:48] zepumph commented on #57
Yeah I think that would be fine. I'm a little worried about us knowing the api for these shas. I guess we can always look in the client manually to figure things out. Sorry for a late response, it looks like you moved on in the aforementioned direction.

[2017-02-14 19:50] zepumph commented on #57
This seems reasonable because we will still be able to filter data based on a different widget_id, and date_start

[2017-02-14 19:52] samreid commented on #57
The only “C” I remember is CMS16001a which was for Casey Middle School for Susan’s project.

[2017-02-14 19:53] samreid commented on #57
Here's the URL I have constructed so far.  Needs testing and perhaps a new validation rule:

http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-phetiorc.1/wrappers/login/login.html?sim=proportion-playground&screens=1.2&metacog&publisher_id=c290c6ab&application_id=047d5548d7dd2de2584c58d34a9bc40d&widget_id=record-expression-exchange&phet-io.emitInputEvents&wrapper=record&valida

[2017-02-14 19:55] zepumph commented on #57
From validateFSU.js:

[code]

Looks like C will work just like R and U did for Ian.

[2017-02-14 20:13] samreid commented on #57
Here is the URL we ended up with for the RC:
http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-phetiorc.1/wrappers/record/record.html?sim=expression-exchange&screens=1,2,3&metacog&publisher_id=c290c6ab&application_id=047d5548d7dd2de2584c58d34a9bc40d&widget_id=record-expression-exchange&phet-io.emitInputEvents=true&wrapper=record&validationRule=validateFSU&learner_id=R16001a&l

[2017-02-14 20:16] phet-steele commented on #57
@samreid have you tried following that link? The sim's background is white for me and it becomes very hard to use.

[2017-02-14 20:18] samreid commented on #57
@phet-steele we tried it and it seemed legit on my Mac.  Not opposed to further testing or more detail about the error you saw, though.

@zepumph can you please try requesting data for that session above, and let me know what happens?

[2017-02-14 20:19] zepumph commented on #57
@phet-steele It looked good for me as well. Windows 10 chrome.

[2017-02-14 20:24] phet-steele commented on #57
I just ran the sim is all, on both macOS 10.12.3 and Win 10 Chrome. Simply went to the first screen and it has a white background. It's supposed to be a light green like the screen icons:

<img width="700" alt="screen shot 2017-02-14 at 1 22 26 pm" src="https://cloud.githubusercontent.com/assets/5863899/22947579/dc158a68-f2b8-11e6-9020-b0c0b5aa7628.png">

[2017-02-14 20:25] zepumph commented on #57
I requested data to go to @samreid's email. Here is the curl conversation:

[code]
[code]

I also made a request for my email address. I will keep track of this today, but will not probably be able to follow through completely.

[2017-02-14 20:26] zepumph commented on #57
In regards to @phet-steele, we were seeing that too, just didn't notice. @samreid perhaps this has to do with the problem we were finding with the 'homeScreenColor', perhaps ea would catch the root cause of the problem.

[2017-02-14 20:51] zepumph commented on #57
I just got the data request back. It was only 4 MB, and it successfully played back on the playback wrapper on master. I think we are all clear.

[2017-02-14 20:54] samreid commented on #57
I got the data request, but am seeing this error on playback:

Mixed Content: The page at 'https://phet-io.colorado.edu/metacog/playback/' was loaded over HTTPS, but requested an insecure resource 'http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-phe…63@1487103117436&phet-io.emitStates=false&screens=1,2,3&launchLocalVersion'. This request has been blocked; the content must b

[2017-02-14 20:57] zepumph commented on #57
Ahhh I'm using the local playback wrapper, which is on http. But no matter I don't think this would be a problem because we will publish this sim onto phet-io which is https no?

[2017-02-14 22:25] samreid commented on #57
Thanks @zepumph, I used localhost to check the playback and it matched what I recorded.  @kathy-phet do you want any more testing on this RC before we publish it to the phet-io website?

[2017-02-14 22:27] samreid commented on #57
I'll start the publication process, but we can always update it if @kathy-phet recommends further testing.

[2017-02-14 22:35] samreid commented on #57
I published https://phet-io.colorado.edu/sims/expression-exchange/1.0.0-phetio/wrappers/login/login.html?sim=expression-exchange&screens=1,2,3&metacog&publisher_id=c290c6ab&application_id=047d5548d7dd2de2584c58d34a9bc40d&widget_id=record-expression-exchange&phet-io.emitInputEvents=true&wrapper=record&validationRule=validateFSU

I realized it has the white background--I'll check if dev.18 had that

[2017-02-14 22:43] samreid commented on #57
Here are the changes I observed between dev.18 and 1.0.0-phetio (none of which are expected)

| Feature        | dev.18           | 1.0.0-phetio  |
| ------------- |:-------------:| -----:|
| background color      | green | white |
| variables in carousel page 1 | x^2, x, y, 1   |   x, -x, 1, -1 |
| toolbox size | small   |  large |
| explore screen collection box | wide | thin |

These changes ar

[2017-02-14 22:46] samreid commented on #57
Perhaps I branched from master instead of 082f9cea5165fa08cd6b11337b5a71a0bdb49abc ?

[2017-02-14 22:51] samreid commented on #57
I rebranched from the sha mentioned above and things are looking much better.

[2017-02-14 22:52] samreid commented on #57
Here's the new testing URL:
https://phet-io.colorado.edu/sims/expression-exchange/1.0.1-phetio/wrappers/login/login.html?sim=expression-exchange&screens=1,2,3&metacog&publisher_id=c290c6ab&application_id=047d5548d7dd2de2584c58d34a9bc40d&widget_id=record-expression-exchange&phet-io.emitInputEvents=true&wrapper=record&validationRule=validateFSU

[2017-02-14 22:53] kathy-phet commented on #57
Sam, I was going to try this out, what is the test password for the wrapper?

[2017-02-14 22:54] samreid commented on #57
I've been using `R16001a`

[2017-02-14 23:19] kathy-phet commented on #57
I tried it out, and in terms of sim behavior it is looking good. I used the above password too.
K

[2017-02-14 23:34] samreid commented on #57
@kathy-phet would you like to share the link with Ian?

[2017-02-15 03:15] samreid commented on #58
More history on this strategy: @jonathanolson developed it for Charges and Fields, and I employed it in Circuit Construction Kit, it's an elegant way to use the correct input listener code without duplicates or adapters.

[2017-02-15 08:22] kathy-phet commented on #57
Before I share this, can someone un-password protect the link? It will still have the login page, but it needs to not have the phet-io user account protection. Thanks!

[2017-02-15 08:35] kathy-phet commented on #57
Also, @samreid, what would be the link for looking at the playback wrapper? I cobbled together this one:
http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.1-phetio/wrappers/mirror-inputs/mirror-inputs.html?sim=expression-exchange&launchLocalVersion
It seems to work -- is this right?

[2017-02-15 16:27] samreid commented on #57
The mirror-inputs wrapper allows immediate testing of transient input events (not stored to metacog), it is primarily for testing.  For playback, clients will get their data from metacog then use the wrapper at: https://phet-io.colorado.edu/metacog/playback/ . Note that playback wrapper is incompatible with sims published on HTTP (such as spot), and can only play back sims recorded from HTTPS, suc

[2017-02-15 17:28] kathy-phet commented on #57
Hi Sam, Yes - I understood that (except for the https need), but is the link above correct for checking the mirroring? It seemed to work for that.

[2017-02-15 17:31] samreid commented on #57
Yes, that link is sufficient for testing whether the input events could be used for reliable playback.

[2017-02-15 20:55] samreid commented on #57
@kathy-phet I removed password protection from the link in https://github.com/phetsims/expression-exchange/issues/57#issuecomment-279862419

Thanks for the reminder!

[2017-02-15 21:41] kathy-phet commented on #57
I shared the link.

[2017-02-16 00:07] jbphet commented on #56
Thanks @phet-steele - that was some very thorough testing.

I've addressed the three data-entry issues that were noted, and will unassign myself until @amanda-phet has addressed the other issues.  At that point, she should assign back to me and I'll implement the changes.

[2017-02-16 17:59] amanda-phet commented on #56
Thanks @phet-steele . I wasn't sure how to address the issues here in github but I made changes in the design doc and highlighted them. Assigning to @jbphet to review the changes in the design doc and update the code.

[2017-02-16 18:39] jbphet opened #59 "should we use the score bar in the game?"
In today's status meeting while I was demonstrating the game screen for Expression Exchange, @kathy-phet asked if we were going to use the score bar.  I hadn't thought about it, but after looking at it in the Balancing Act simulation, it looks like it would work well and would make this sim more consistent with other sims that include games.  Here's a screenshot:

![baa-game-with-score-bar](https:

[2017-02-16 19:31] amanda-phet commented on #59
This game is pretty different from the games in Balancing Act, Graphing Lines, etc. and is modeled more after Build a Fraction. In the ExEx game, there isn't a series of challenges and there isn't a score, so the bar doesn't seem as appropriate. I'm certainly open to discussing what would go in the bar, but as the game is currently functioning it would basically just state the level and include th

[2017-02-17 05:25] kathy-phet commented on #59
@amanda-phet - I'm fine with no bar. I see what you say its more like Build a Fraction or Arithmetic.

[2017-02-20 17:00] amanda-phet commented on #59
Sounds good. If we want to go this route after interviews prove that something is needed I will re-open the issue.

[2017-02-20 17:00] #59 closed

[2017-03-06 20:09] jbphet opened #60 "should the hints flash in the collection area if an expression is correct but not reduced?"
I'm currently working on the game implementation, and it strikes me as a potential usability issue that on the first four levels the user can create an expression that looks visually like the expression hint but is rejected as an answer because it hasn't been reduced.  I suggested to @amanda-phet that perhaps the dotted circle "hints" in the collection area should flash as a way to tell the user,

[2017-03-06 20:10] jbphet commented on #60
Leaving unassigned until we start interviews on the game.

[2017-03-06 21:53] jbphet commented on #56
The code has now been updated based on the updates/corrections in the design document.  Assigning back to @phet-steele to run through these again and see if they are all now correct.

[2017-03-06 23:15] phet-steele commented on #56
Everything is correct! Thanks @jbphet and @amanda-phet.

[2017-03-06 23:15] #56 closed

[2017-03-07 15:54] jbphet commented on #56
Thanks @phet-steele.

[2017-03-07 20:43] jbphet commented on #53
This has been done, closing.

[2017-03-07 20:43] #53 closed

[2017-03-21 17:10] phet-steele commented on #46
@jbphet this has been fixed for....awhile. Closing!

[2017-03-21 17:10] #46 closed

[2017-03-22 19:55] jbphet commented on #17
Assigning to @amanda-phet to see if we can make a call on this.  It seems like the current font is working well, and in my opinion it would be tricky to support translatable variables and I'd prefer not to do that unless we deem it absolutely necessary.

[2017-03-22 20:09] amanda-phet commented on #17
The current font is working and since it is the same one that is used in Function Builder, I think we can tackle the translation issue separately (if we still want to at all- I don't see a reason to but I am also not well-versed in international math conventions).

[2017-03-22 20:49] amanda-phet commented on #50
I think we should do something like this for the icons:

Levels 1-3 look like "coin values" on coins, and levels 4-8 are on card stacks that increase with each level. I took a screenshot for the card stack, but assume it can be done in code.

<img width="551" alt="screen shot 2017-03-22 at 2 48 18 pm" src="https://cloud.githubusercontent.com/assets/7852916/24220096/ad352f92-0f0e-11e7-98bf-e5ac7664

[2017-03-22 22:29] phet-steele opened #61 "Some collection area "coin hints" are not centered"
2 out of the 3 collection areas in the 1st level that accept a 3 term answer are not centered well.

A bad alignment:
<img width="378" alt="screen shot 2017-03-22 at 4 21 56 pm" src="https://cloud.githubusercontent.com/assets/5863899/24223541/4173bde2-0f1c-11e7-81ee-40edcdfa6df5.png">

A good alignment:
<img width="370" alt="screen shot 2017-03-22 at 4 22 05 pm" src="https://cloud.githubuserconten

[2017-03-22 22:38] phet-steele opened #62 "You can simultaneously drop terms in the carousel AND answer a challenge"
The bottom collection area on each challenge is dangerously close to the carousel. This means you can answer a target at the same time as you drop some terms into the carousel:

![ee02](https://cloud.githubusercontent.com/assets/5863899/24223867/aee9eb7a-0f1d-11e7-8016-4ce2a4024eca.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#807.
URL: http://www.colorado.edu/physics/phet/dev/html/expres

[2017-03-23 22:02] phet-steele opened #63 ""Next" can be pressed multiple times"
After answering all challenges in a level, very quickly clicking/tapping "Next" will transition to the next level multiple times. This effectively skips levels.

![ee03](https://cloud.githubusercontent.com/assets/5863899/24272169/ac0c15bc-0fe1-11e7-97c9-da365a059441.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#807.
URL: http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.

[2017-03-23 22:16] EthanWJohnson opened #64 "When rapidly assembling expressions, coins/variables can become misaligned."
After disassembling a very large expression on the explore screen, there will typically be a number of coins in very close proximity to each other. Rapidly assembling new an expression with them by dragging the coins around quickly will cause several of the coins/variables to be misaligned in the expression, which can only be cleared by disassembling the expression again.

Picture of misalignment;

[2017-03-23 22:29] phet-steele opened #65 "Screen slide breaks with expressions out of bounds"
Any expression that is outside of the dev bounds (fully or partially) on a game level affects the position of the "center" of the screen during animations. This can cause the "screen slide" animation to and from a level to be incorrect.

1. Pick a level and assemble all of its terms into a single expression. Longer expressions make this more obvious, but it still occurs with two term expressions.

[2017-03-23 23:40] jbphet commented on #62
Fixed, will have this tested on next release.

[2017-03-23 23:55] jbphet opened #66 "centralize decision making for expression and coin term join behavior"
This sim has some fairly complex behavior for making decisions about when expressions combine with one another, when coin terms combine, when expressions combine with coin terms, when collection areas have priority over joining expressions, and so on.  This logic is currently distributed between four locations:
1. In `ExpressionManipulationModel.js`, where listeners are added when expressions and

[2017-03-24 21:50] EthanWJohnson commented on #65
This bug is worse than that--it also does weird things to the manipulation boxes of expressions in the carousal, making them more off center than the box appears to be.
![weird boxes](https://cloud.githubusercontent.com/assets/22551096/24314875/85413e26-10a9-11e7-9bfa-6664df2cc5f0.gif)

[2017-03-24 23:10] jbphet commented on #63
I've implemented a fix where the `NextLevelNode` is hidden as soon as the user presses its button.  This works well, and I like it.  It has the consequence that if the user returns to that level, the `NextLevelNode` is no longer visible, so the user either has to press the refresh button and play again or go back to the level selection screen.  I actually rather like this behavior since it might g

[2017-03-24 23:27] jbphet commented on #61
This was due to using the bounds of the parent node to derive the center position, which were be altered by the addition of the larger hint.  It has been changed to used the actual bounds of the collection area.  Will have this tested in a future version.

[2017-03-24 23:28] jbphet commented on #60
Assigning to @amanda-phet since she said that she would decide about this based on the outcome of interviews.

[2017-03-24 23:40] jbphet commented on #65
This was caused by some animations that were positioning screens based on center position values, which take all bounds into account, instead of using just the x and y values for positioning.  Should now be fixed.  Will leave open and have it verified on a future release.

[2017-03-24 23:56] jbphet commented on #65
This should be fixed, please test on http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.22/expression-exchange_en.html and close if the issue appears to be resolved.

[2017-03-24 23:56] jbphet commented on #62
This should be fixed, please test on http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.22/expression-exchange_en.html and close if the issue appears to be resolved.

[2017-03-24 23:57] jbphet commented on #61
This should be fixed, please test on http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.22/expression-exchange_en.html and close if the issue appears to be resolved.

[2017-03-24 23:58] jbphet commented on #63
The new behavior is available on version http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.22/expression-exchange_en.html.  @amanda-phet - if you decide that the new behavior is resonable, please assign this to the QA team to verify that it also fully addresses this issue and they can close or reassign as appropriate.

[2017-03-27 15:58] amanda-phet commented on #63
I like this new behavior. It is consistent with some other sims like Arithmetic, so I can review my work or refresh to get a new set of challenges.

[2017-03-27 17:18] phet-steele commented on #61
Resolved, thanks.

[2017-03-27 17:18] #61 closed

[2017-03-27 17:25] phet-steele commented on #62
@jbphet @amanda-phet this seems to work great when you are giving the collection area the correct answer. However, when giving the wrong answer, the expression is simply placed into the carousel. Wouldn't it be better to instead reject the wrong answer and animate it to the left of the collection area? (like normal).

The current behaviour, with the wrong answer:
![ee05](https://cloud.githubuserco

[2017-03-27 17:28] amanda-phet commented on #62
@phet-steele I agree. The collection area is highlighted, making you think that is the target, so a user would probably not expect the expression to go to the panel.

[2017-03-27 17:29] phet-steele commented on #65
Looks fixed, thank @jbphet.

[2017-03-27 17:29] #65 closed

[2017-03-27 17:52] phet-steele commented on #63
The button looks to be working great, thanks.

[2017-03-27 17:52] #63 closed

[2017-03-27 21:47] phet-steele opened #67 "Terms at identical positions can be combined multiple times"
Start by putting two terms directly on top of each other. This is easiest in a game level:

1. Take a single term and try to use it as an answer in a collection area. It will get rejected and animate to the left.
2. Take a second single term (of the same value as the term in step 1) and attempt to answer the same challenge as in step 1. The term will be rejected and animate left.
3. You now have t

[2017-03-28 18:10] phet-steele opened #68 "?stringTest=double issues"
<img width="1379" alt="screen shot 2017-03-28 at 12 08 07 pm" src="https://cloud.githubusercontent.com/assets/5863899/24420194/41761258-13af-11e7-94af-67995669b7c0.png">

1. Total panel is unnecessarily large
2. Values and My Collection panel title overlaps with the expand/collapse button
3. Checkboxes overlap with the carousel (not an obvious problem on the first screen)

Issues are generally sha

[2017-03-28 18:22] phet-steele opened #69 "Reset All button mispositioned on the game screen"
The game screen's Reset All button looks smaller and higher than every other screen's:
![ee08](https://cloud.githubusercontent.com/assets/5863899/24420752/17e9a880-13b1-11e7-9c7d-07f496413cfa.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#807.
URL: http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.22/expression-exchange_en.html
Version: 1.0.0-dev.22 2017-03-24 23:

[2017-04-04 17:39] jbphet commented on #66
I spent some time working on this, and I've realized that items 1 and 2 above don't really lend themselves to simplification because some of the code is base on events, and so was written using listeners, and the other code was written to looks at the state at a given moment in time, so it lends itself to being in the step function.  I've documented this but largely left it as is.

[2017-04-04 19:46] phet-steele opened #70 "Error: Assertion failed: homeScreenIcon has invalid aspect ratio: ..."
Run the sim with `?stringTest=xss` to get this error.

[code]

[2017-04-05 16:37] jbphet opened #71 "add reward screen"
There should be a reward screen that is shown after all levels are completed.

[2017-04-05 17:17] amanda-phet commented on #47
I haven't seen issues with this particular interaction in interviews so I think we can leave the sim as-is.

[2017-04-05 17:17] #47 closed

[2017-04-05 17:29] kathy-phet commented on #51
Asthetically, I do prefer down and to the right for the cards. This seems more like how you would stack them in real life too if you were wanting to see a bit of each card.

I agree on the level selection that up and to the right would look odd.

[2017-04-05 17:30] kathy-phet commented on #51
Another possible reason (although just speculating) is that it might be more obvious that you have a limited number of pieces if you have to drag across the cue about that. But I don't recall the conversation about it.

[2017-04-05 17:44] amanda-phet commented on #71
Adding a note: it shouldn't matter which level was completed last.

[2017-04-05 17:45] amanda-phet opened #72 "Rename Variables screen"
The current screen names of Basics, Explore, and Variable don't make a lot of sense as a set. Variables are present on all three screens. I think we should call the third screen Negatives instead of Variables.

Unless anyone has objections, assigning to @jbphet to make this change.

[2017-04-05 17:54] amanda-phet opened #73 "Show "next level" button after a level is completed"
In an interview, a student completed level 4 first, then decided to go back to level 1.
<img width="881" alt="screen shot 2017-04-05 at 11 52 19 am" src="https://cloud.githubusercontent.com/assets/7852916/24719260/5a0ddc36-19f6-11e7-9dc9-a8805bb6b07d.png">

She completed levels 1,2,3, and when she arrived at level 4 there was no option to move to the next level.
<img width="887" alt="screen shot 2

[2017-04-05 17:59] amanda-phet commented on #67
While I didn't see any students do this during interviews, I did see them try to drop terms in the collection box and they would overlap so perfectly it might have caused a moment of confusion.

[2017-04-05 18:07] amanda-phet commented on #60
Based on the game flow I observed in interviews, I am suggesting that we make changes to levels 1-3. What I noticed is that students figured out the cues quite easily and learned to simplify their answers. When they got to levels 4-8 students continue to simplify their answers even though they didn't need to. However, I'd like students to know they can leave the answer unsimplified, and see that t

[2017-04-05 19:09] amyh-phet commented on #51
I prefer down and to the right as well.  I understand that up and left might better cue a user to drag a card up to the balance, but I think that up and left would look odd in the level selection screen.

[2017-04-05 19:52] jbphet commented on #67
I have fixed the primary issue described, but I didn't address the overlap problem mentioned by @amanda-phet in the comment immediately above.  Assigning to @amanda-phet - if she thinks that the overlap is an problem, a separate GitHub issue should be logged.  After that, this issue should be unassigned and I'll put it on the list to get verified during the next round of testing.

[2017-04-05 21:01] amanda-phet commented on #67
I can't think of a great fix for the overlap issue, and it wasn't a huge problem in interviews, so I will not open another github issue.

[2017-04-05 21:21] phet-steele opened #74 "Terms can be dropped into the carousel while editing an expression"
@jbphet a recent change did this, as the issue is not in dev.22 (probably https://github.com/phetsims/expression-exchange/commit/ad7bc82a3a2932637f734f80db405ee23331e50e).

![ee09](https://cloud.githubusercontent.com/assets/5863899/24727501/7855fd8c-1a13-11e7-855b-a821112e8cbe.gif)

[2017-04-05 22:47] ariel-phet commented on #51
Basically agree with down and to the right in terms of looks, but up and to the right might be slightly better visual cue to drag upwards. Fine with whatever choice is made.

[2017-04-06 11:52] arouinfar commented on #51
While I think it's a nice touch for the cards to be stacked up and to the right towards the play area, I'm not sure I would want this direction to be universal. In general, I think stacking down and to the right looks a bit cleaner. @ariel-phet makes a good point about the level selection screen, and I agree with @kathy-phet that real cards would probably be stacked down and to the right.

[2017-04-06 16:01] amanda-phet commented on #51
Thanks everyone!

@jbphet let's change the card stack to be down and right for Expression Exchange.

[2017-04-07 19:05] phet-steele commented on #62
Now if any expression (right or wrong) is over the carousel, there will not be a halo around the collection area. This makes it very obvious that, upon release, the expression will enter the carousel.

[2017-04-07 19:05] #62 closed

[2017-04-11 19:10] amanda-phet opened #75 "Changes to levels 1-3"
Based on the game flow I observed in interviews, I am suggesting that we make changes to levels 1-3. What I noticed is that students figured out the cues quite easily and learned to simplify their answers. When they got to levels 4-8 students continue to simplify their answers even though they didn't need to. However, I'd like students to know they can leave the answer unsimplified, and see that t

[2017-04-11 19:10] amanda-phet commented on #60
Decided to make the changes (in #75 ) so this issue is now irrelevant. Closing.

[2017-04-11 19:10] #60 closed

[2017-04-11 19:12] amanda-phet opened #76 "Change edit icon"
In the 4/6/17 design meeting we decided we like the appearance of the fontawesome "exchange" icon instead of the current icon being used for editing an expression.

<img width="194" alt="screen shot 2017-04-11 at 1 12 37 pm" src="https://cloud.githubusercontent.com/assets/7852916/24926361/8fd8dde0-1eb8-11e7-91ed-8e584388a2a5.png">

[2017-04-12 23:05] jbphet commented on #39
Fixed, closing.

[2017-04-12 23:05] #39 closed

[2017-04-12 23:15] jbphet commented on #66
This is done, the results seem like a substantial improvement.  Closing.

[2017-04-12 23:15] #66 closed

[2017-04-13 16:15] phet-steele opened #77 "TypeError: Cannot read property 'destinationProperty' of undefined"
[code]

[2017-04-13 16:44] phet-steele opened #78 "Terms seem to be entering the carousel too easily"
@amanda-phet recent versions of this sim have (probably unintentionally) increased the "drop-in-the-carousel" range. For example in dev.22, if I release a coin at this distance it will drop into the carousel:
<img width="867" alt="screen shot 2017-04-13 at 10 39 22 am" src="https://cloud.githubusercontent.com/assets/5863899/25014576/96f36c66-2035-11e7-91e8-33fb16408d9e.png">

Whereas in an older v

[2017-04-13 17:13] phet-steele opened #79 "Anchor expressions can be collected before they finish being combined with the incoming expression"
In a game level:
1. Create the correct answer and place it near the corresponding collection area.
2. Create a second, totally bogus, expression. The longer the better.
3. Read this and the next step before doing either. Drag the second expression and combine it with the first.
4. BEFORE the second expression has successfully combined, drag the first expression into the collection area. It will be

[2017-04-13 17:31] phet-steele opened #80 "Problems with cards being included in term bounds"
Go to the Game screen (the only screen with terms on cards). The outline of the cards are included in the calculations of a terms bounds....until the card fades away. Below is an example where the bounds of an expression are taller when the joining term has a card, and shorter once the card fades away:
![ee13](https://cloud.githubusercontent.com/assets/5863899/25016184/32b9b8d4-203c-11e7-913c-ffb0

[2017-04-13 23:02] jbphet commented on #76
Done.  Will assign to someone to verify on next dev release.

[2017-04-13 23:42] jbphet commented on #77
This was occurring during fuzz testing.  As best I can tell, fuzz testing could create a race condition where a coin term was added or removed from an expression *and* the expression animated to the point where it joined another expression all during a single step.  I tried for a while and couldn't duplicate it manually, but I was able to duplicate during fuzz testing and examine the state of the

[2017-04-13 23:45] jbphet commented on #77
By the way, this was introduced recently when the TWEEN animations were replaced, see #39.

[2017-04-14 22:28] phet-steele commented on #77
Bayes has not been reporting the error, we should be good here!

[2017-04-14 22:28] #77 closed

[2017-04-17 23:27] jbphet commented on #74
Should now be fixed, @phet-steele please verify on master.

[2017-04-17 23:33] jbphet commented on #72
Done, closing.

[2017-04-17 23:33] #72 closed

[2017-04-17 23:38] jbphet commented on #69
Fixed, @phet-steele please verify on master.

[2017-04-17 23:45] jbphet commented on #51
Done, now looks like this:

![exex-stacking](https://cloud.githubusercontent.com/assets/3082831/25108771/75fca7d0-2395-11e7-9692-2d5b9b435816.PNG)

Interesting Note: This was literally a one character change to the code.  Like, for real.  Click on the commit link above if you're interested.

[2017-04-17 23:47] jbphet commented on #51
@amanda-phet - this is done, assigning to you to take a look on phet-test or simply close at your discretion.

[2017-04-19 15:59] amanda-phet commented on #51
Looks great. Thanks!

[2017-04-19 15:59] #51 closed

[2017-04-19 16:26] amanda-phet commented on #78
I'm not seeing this in the latest on phettest... perhaps it got fixed? It is definitely not intentional or related to the design. @jbphet can you investigate this, if it's still happening, and what caused it?

[2017-04-19 17:31] phet-steele commented on #78
@jbphet I too no longer see this in master. You've done a lot of logic changes since dev.22, good chance this was fixed.

[2017-04-19 17:34] phet-steele commented on #69
@jbphet looks good!

[2017-04-19 17:34] #69 closed

[2017-04-19 17:35] phet-steele commented on #74
Fixed, thanks.

[2017-04-19 17:35] #74 closed

[2017-04-19 21:51] jbphet commented on #75
This has been implemented on the master branch, assigning to @amanda-phet to test and close if the new behavior looks good.

[2017-04-19 23:00] jbphet commented on #79
I added code that waives off on combining two expressions if the destination expression has moved by the time the combining expression reaches its edge.  This addresses the problem, but might have other adverse effects.  Assigning to @phet-steele to test on master.

[2017-04-19 23:45] jbphet commented on #73
I've changed the code to keep the 'Next' dialog up whenever a level is complete, and added to to prevent interaction while animations are in progress to avoid the problem described in https://github.com/phetsims/expression-exchange/issues/63.  This seems to work pretty well, assigning to @amanda-phet to verify on master and close if the behavior seems reasonable.

[2017-04-20 16:12] amanda-phet commented on #75
Look great. Thanks!

[2017-04-20 16:12] #75 closed

[2017-04-20 16:40] amanda-phet commented on #73
Looks great to me. Thanks!

[2017-04-20 16:40] #73 closed

[2017-04-25 02:34] pixelzoom opened #81 "creator searches for parent ScreenView"
I stumbled upon this while looking at https://github.com/phetsims/projectile-motion/issues/20.

Regarding this pattern in CoinTermCreatorNode, line 133:

[code]

In https://github.com/phetsims/scenery-phet/issues/214#issuecomment-174014179 and in subsequent developer-meeting discussions, this approach was identified as undesirable.  And we discussed better ways to do this. That was 1/22/2016.  Why

[2017-04-25 17:48] jbphet commented on #81
I think this is essentially a duplicate of https://github.com/phetsims/expression-exchange/issues/58, but I'll leave both open until the issue is addressed.

[2017-04-27 17:33] pixelzoom opened #82 "identify potential reuse for Equality Explorer"
I'll be implementing Equality Explorer, which reportedly has some similarities (UI behavior, etc.) with Expression Exchange. Before I begin code review of Expression Exchange, please note things that I should pay special attention to when reviewing, so that I can identify reuse possibilities while doing the code review.

[2017-05-02 16:40] pixelzoom opened #83 "incorrect lighting for coins"
Noted while working on equality-explorer, which has some similarities.

The lighting on the coins is incorrect. PhET light source is above-left. The coins are lit from below-left.

![screenshot_239](https://cloud.githubusercontent.com/assets/3046552/25628522/b854222c-2f23-11e7-9279-374906059d34.png)

[2017-05-02 16:47] pixelzoom opened #84 "color issues with game level-selection buttons"
Screenshot shown below.  Issues:

(1) Choice of background color for level section buttons seems odd.  We typically use a neutral color for backgrounds, and colorful icons, in order to call attention to the icons and not the background. This background color overwhelms my attention.  And some of the background:icon color combinations look less than pleasing.

(2) Color combination for level 5 is p

[2017-05-02 16:49] amanda-phet commented on #83
Is light source the same as perspective, in this situation? The coins don't have highlights, but we are trying to give them depth. Should we modify the perspective to match our typical light source direction?

[2017-05-02 16:49] jbphet commented on #84
The look of these buttons is temporary, please see https://github.com/phetsims/expression-exchange/issues/50.

[2017-05-02 16:51] pixelzoom commented on #83
Light source _gives_ perspective.  Rotate the visible edge of the coins 90 degrees and it'll be consistent.

[2017-05-03 15:57] jbphet opened #85 "show unique dialog when all levels completed"
The reward node has been added (see #71), and while testing it I found it a bit odd to see the reward node and the "Next" dialog at the same time.  I discussed this with @phet-steele, and he thought so too.  @amanda-phet and I just talked about this, and she's up for coming up with a unique dialog for the situation where all levels have been completed.  She felt that it would be odd to see this di

[2017-05-03 16:37] amanda-phet commented on #85
<img width="604" alt="screen shot 2017-05-03 at 10 36 32 am" src="https://cloud.githubusercontent.com/assets/7852916/25671249/749e0dda-2fec-11e7-9741-99ef2b3f8bc8.png">

[2017-05-03 21:15] jbphet commented on #71
This should be done, unassigning for now and will assign back to someone for testing on next dev release.

[2017-05-04 16:35] amanda-phet opened #86 "Add some space between the game targets"
Before and after:
<img width="432" alt="screen shot 2017-05-04 at 10 33 33 am" src="https://cloud.githubusercontent.com/assets/7852916/25714457/4ed45a9a-30b5-11e7-8e09-9f7d5284f223.png">

[2017-05-04 17:48] jbphet commented on #50
This is implemented, @amanda-phet - please take a look and, if the icons look good, close this issue.

[2017-05-04 17:50] jbphet commented on #50
Oops, hang on - I just realized the card stacking direction doesn't match what's in the game.  I'll fix that, then assign back to @amanda-phet.

[2017-05-04 17:51] amanda-phet commented on #50
Do we need higher-res images of the coins? They look a bit fuzzy to me.

<img width="582" alt="screen shot 2017-05-04 at 11 51 41 am" src="https://cloud.githubusercontent.com/assets/7852916/25717563/0fb40940-30c0-11e7-88aa-718123660fd4.png">

[2017-05-04 23:47] jbphet commented on #84
The updated buttons have been added.  @pixelzoom - please take a look at these in master and let us know if you have any concerns with the updated look.

[2017-05-05 00:01] pixelzoom commented on #84
For posterity, here's the current look. The button background color is '#EDA891'.

![screenshot_242](https://cloud.githubusercontent.com/assets/3046552/25729421/7c9a9bbe-30f2-11e7-8038-eee77a4a24c4.png)

Better, and not really my call. But since you asked :)...  I can't say that I dig the color combination for the coins (levels 1-3), especially level 1 (coin and background very similar color).

Ha

[2017-05-05 03:17] amanda-phet commented on #84
I was thinking of changing the color of the buttons as well, for the same reason being the first level doesn't have a lot of contrast, but since the three explores screens have green backgrounds I thought the reddish button color looked good with the blue. I also did color-blind checks and it looks very good.

That said, I like the second green button option too :)

[2017-05-05 17:04] jbphet commented on #50
Yeah, I noticed that too, then thought maybe my eyes were just getting older. :-)  I'll go ahead and create higher res images once the shadows are updated (see #83) and will start using mipmaps for a better appearance at the different resolutions used throughout the sim.

[2017-05-05 17:18] jbphet commented on #84
I think the 2nd green option looks good - it offers more contrast with the first coin.  I haven't check it for color blind look.

@amanda-phet - as the designer, how about you make the call for now.  It's very easy to change.

Looking at it, I realized that I should be using the backs of the coins instead of the front in these icons so that there is less visual interference with the number value.

[2017-05-05 17:33] jbphet commented on #84
I've changed the coin-based to use the 'back' version of the artwork.  I also grabbed a different coin for level 3, since it looks odd to me to have the number go over a hole in the coin.  And, since I was in there anyway, I changed the background color to the 2nd green above so that we could take it for a test drive.  @amanda-phet - please take a look and provide feedback.  The coin images are st

[2017-05-08 17:29] amanda-phet commented on #84
I was thinking the same thing about the coin backs, now that they're really in the sim. Thanks for making that call.

I prefer the original color as well, and am not bothered by the red-on-red for level one. We could also easily change that coin to be a different one, such as the xy or x^2y^2 coin...

Final decision: revert color back to the original reddish and change level one to be the xy/10 co

[2017-05-08 21:19] jbphet commented on #86
I've done the adjustements.  @amanda-phet - please take a look and see what you think, and close if we're done.

[2017-05-08 21:40] jbphet commented on #84
Done.  However, with the reddish coin now gone, I think the green background looks a little better, so I thought I'd capture the comparison here.  @amanda-phet - please close if you like it as is or let me know if you now prefer the green (as I do).  I'm okay either way.
![exex-level-select-reddish](https://cloud.githubusercontent.com/assets/3082831/25826519/648740d0-3404-11e7-981c-c72ebebb199a.PN

[2017-05-09 16:14] jbphet commented on #58
@samreid - I'm seeing some variation in the usage in Charges and Fields and CCK.  What would you say is the best file to check out as an example of this pattern?

[2017-05-09 16:20] samreid commented on #58
For instance ChargesAndFieldsToolboxPanel.js:

[code]

or SensorToolbox.js

[code]

or CircuitElementToolNode.js

[code]

Note: the last line in the last example ultimately calls startDrag() on the drag listener.

[2017-05-09 19:03] jbphet commented on #81
I've implemented event forwarding for this, and it appears to be working well.  There is one TODO for documentation remaining, but I'll track that in #58 and will make sure it gets addressed.  @pixelzoom - do you want to review since you logged this issue?  You're welcome to pass and wait until the code review if you prefer.

[2017-05-09 19:10] jbphet commented on #81
Hang on - based on some examples that @samreid pointed me to, I think this can be simplified, so I'm assigning it back to me.

[2017-05-09 19:13] pixelzoom commented on #81
@jbphet  wrote:

(1) @samreid recommended using the approach described in https://github.com/phetsims/scenery-phet/issues/214#issuecomment-296881631, and I thought we were all on the same page for that.

(2) You are now calling private functions in MovableDragHandler (movableDragHandlerStart, movableDragHandlerEnd).

[2017-05-09 19:48] amanda-phet opened #87 "Background color of sim"
#84 made me double-check the green background of the sim.. thinking we could change it to coordinate with the nice-looking dark green buttons @pixelzoom suggested. I noticed that the green in the sim doesn't look like the green in the mockups, so, I'm calling on opinions regarding the background color.

(1) is what my browser picked up as the current sim color
(2) is what I had in my original mock

[2017-05-09 19:48] amanda-phet commented on #86
Looks great to me!

[2017-05-09 19:48] #86 closed

[2017-05-09 19:53] pixelzoom commented on #87
Either 1 or 2 look good to me.  I don't like 3, a bit too yellow, looks a little sickly.

[2017-05-09 22:28] pixelzoom commented on #81
Looks great, and matches the approach in phetsims/scenery-phet#214 (comment).

Closing.

[2017-05-09 22:28] #81 closed

[2017-05-09 23:15] kathy-phet commented on #87
I feel like 2 doesn't have a good enough contrast with the gray coins. So I prefer 1 over 2.

Sent from my iPhone

On May 9, 2017, at 1:53 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

Either 1 or 2 look good to me. I don't like 3, a bit too yellow, looks a little sickly.

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2017-05-10 16:10] jbphet commented on #87
1 or 2 look fine to me, and since @kathy-phet said 1, I can just plan on that.  Which, I think, means leaving it as it currently is in master, right?

[2017-05-10 16:11] ariel-phet commented on #87
Sounds good to me

[2017-05-10 16:19] amanda-phet commented on #87
Yes that's correct. Thanks for the input everyone.

[2017-05-10 16:19] #87 closed

[2017-05-10 16:20] amanda-phet commented on #84
I'd prefer not to introduce another shade of green so let's keep the reddish color.

[2017-05-10 16:20] #84 closed

[2017-05-10 23:24] jbphet commented on #70
I just tested this on master and it doesn't seem to be happening anymore.  Maybe I fixed it when working on other things, or maybe it was fixed in common code.  Back to @phet-steele to make sure I'm not missing anything.  If the symptom is gone, he can close.

[2017-05-11 17:22] pixelzoom opened #88 "code review"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse&ea')

**Internationalization**
- [x] Are there an

[2017-05-11 17:23] pixelzoom commented on #88
5/11/17 dev meeting:

@jbphet will do memory testing and go through the checklist.

Plan A: Try to have this ready for @pixelzoom to do on Tuesday 5/16/17.
Plan B: Have someone else do the review.

@jbphet assign to me when the sim is ready for review.

[2017-05-11 23:14] jbphet commented on #80
I've made it so that the card bounds are not included when the model is deciding when to activate halos or how things go into expressions.  @phet-steele - please try this out on master and close if this looks reasonable.  It looks pretty good to me.

[2017-05-15 16:51] pixelzoom opened #89 "issues with Values accordion box"
Related to #88 code review.

While playing with the sim to familiarize myself with it, I noticed this accordion box:

![screenshot_260](https://cloud.githubusercontent.com/assets/3046552/26068450/d32d2788-395a-11e7-93a4-aec3642d866d.png)

The "Values" accordion box is used to change the values of the variables.  A couple of inconsistencies with the design of other PhET sims:

(1) In Equality Explo

[2017-05-15 17:05] pixelzoom opened #90 "how should items pop out of the carousel?"
Related to #88 code review. Noticed while playing with the sim to familiarize myself with it.

When you select an item from the carousel, it does not pop "up".  It pops out in a direction that corresponds to the pointer's relationship to the item's center.

For example, in the Basics screen, if you click below the center of a coin, it pops down.  Click to the left of the center of a coin, and it p

[2017-05-15 17:09] amanda-phet commented on #89
(1) In ExEx we use the term "value" in a few places, such as "coin values" and "variable values", so I'd prefer "variable values" for this panel, but that's quite a long title. I don't love calling it "variables", but am ok with it, especially if there is a similar panel in another sim.

(2) I agree, @pixelzoom . This white reset button is relatively new to me but seems to be popular in new sims,

[2017-05-15 17:10] amanda-phet commented on #89
@jbphet feel free to weigh in on (1) but I'm confident about the change in (2).

[2017-05-15 17:12] amanda-phet commented on #90
I didn't notice it, but in general I'm a fan of popping up from carousels/panels that are at the bottom on the screen.

[2017-05-15 17:16] pixelzoom commented on #89
"Values" also seems a bit vague/ambiguous.  There are other "values" in the sim - the total, values and coefficients shown in carousels,...  And you have a check box labeled "variable values", which seems related to the "Values" accordion box.

[2017-05-15 20:14] jbphet commented on #90
@amanda-phet - I'm going to need a little clarification.  I just looked at a couple of sims for reference, and the behavior varies.  In Charges and Fields (CAF), the mouse behavior is exactly like it currently is in this sim (ExEx) where created objects move such that they are centered at the mouse position, but when using CAF in touch mode, the charges and sensors pop up so that they can be seen

[2017-05-15 20:23] jbphet commented on #90
I just discussed this with @amanda-phet, and we decided to go for the Charges and Fields behavior, i.e. it behaves as it does now for mouse interaction but for touch interactions the selected item should pop upwards a bit so that it isn't occluded by the user's finger.

[2017-05-15 21:17] phet-steele commented on #70
Might have been fixed after the switch to RichText in https://github.com/phetsims/expression-exchange/commit/fab6d8497b09ddbb7a2962649b8794e1c038bf0e? I don't know, but this error no longer appears.

[2017-05-15 21:17] #70 closed

[2017-05-15 22:22] jbphet commented on #78
I just tested on master and it's looking good.  Closing.

[2017-05-15 22:22] #78 closed

[2017-05-16 01:45] pixelzoom commented on #90
Different implementation for mouse vs touch? That seems totally unnecessary -- it does nothing to improve the user experience with mouse, it's so subtle that no one will even notice, it's inconsistent with other sims, and it creates 2 sets of code to test and maintain.  What is it buying you?

[2017-05-16 01:53] pixelzoom commented on #88
Summary of 5/15/17 email update from @jbphet and @ariel-phet:  Sim is not ready for review, so I won't be doing the code review. Someone else will be assigned to this issue when when the sim is ready.

[2017-05-16 02:11] pixelzoom commented on #88
Hmm... I noticed that some of the items in the checklist are checked off. @jbphet are you checking them off as you do your own preliminary review?

[2017-05-16 15:13] jbphet commented on #88
Yes I was.  I can rescind those checkmarks if the intent was to have someone other than me go through the whole thing.

[2017-05-16 15:20] pixelzoom commented on #88
This checklist was intended for the reviewer.  But no harm in using it yourself, then unchecking everything before assigning it to the reviewer.  Until then, everyone just needs to be aware that the checklist doesn't represent the status of the code review.

[2017-05-16 15:33] jbphet commented on #90
The ability to see the items being dragged without having them be occluded by the user's finger.  It was @ariel-phet who brought it up that this is how Charges and Fields behaves, and I tried it out and found it quite usable.

I haven't implemented this before, but I think it would actually just be a few lines of additional code that would use a different initial offset for the drag if the event w

[2017-05-16 15:36] jbphet commented on #88
I've unchecked them to avoid any confusion and will track my own progress on the list separately.

[2017-05-16 15:36] pixelzoom commented on #90
@ariel-phet Can you explain how popping something _down_ prevents it from being occluded by a finger on a touch device?  And why we had such an extensive discussion about this in Function Builder and came to a totally different conclusion?

[2017-05-16 15:38] jbphet commented on #88
Marking for dev meeting to draw straws and figure out who gets to do this review.

[2017-05-16 15:38] pixelzoom commented on #90
@ariel-phet Can you explain how popping something down prevents it from being occluded by a finger on a touch device? And why we had such an extensive discussion about this in Function Builder and came to a totally different conclusion, which was then applied in Unit Rates?

[2017-05-16 15:41] jbphet commented on #90
It would pop *up*, as the charges and the sensors do in the currently published version of Charges and Fields.

[2017-05-16 15:46] pixelzoom commented on #90
I'm confused... In Expression Exchange, click below the center of a coin in the carousel.  The coin pops _down_, not _up_.

[2017-05-16 15:57] pixelzoom commented on #90
I'm confused... In Expression Exchange, click below the center of a coin in the carousel.  The coin pops _down_, not _up_.   Ditto for charges and sensors in Charges and Fields.

[2017-05-16 15:58] jbphet commented on #90
I see what you're saying, and yes, that's true.  In the mouse case, when clicking on a coin term, it centers at the mouse position, so if you click the top of the creator node the created node will be above creator node.  If you click at the bottom of the creator node, the created node will be created below the creator node (which is the case you're describing in the comment immediately above).  T

[2017-05-16 16:10] pixelzoom commented on #90
I still haven't heard why simply popping "up" (regardless of where you click in the carousel or panel) doesn't work on for both mouse and touch.  That was the conclusion that we came to in Function Builder, and then again in Unit Rates.

[2017-05-16 16:26] jbphet commented on #90
There is a lot of precise placement in Expression Exchange, and I find the current behavior works well for this, and the "always jump up" behavior in Function Builder doesn't seem all that well suited to this case, though I understand the need for it in FB.  Having said that, it certainly wouldn't break the sim or significantly diminish the user experience to do it the FB way.  What say we send it

[2017-05-16 16:37] pixelzoom commented on #90
I don't understand how or why "precise placement" should be at all affected by how an item pops out of a carousel.  Or how this scenario (taking something out of a carousel) is at all different than Function Builder or Unit Rates... or Equality Explorer, where I'm in the process of using the same behavior.

Fine with me. As long as I'm not asked to implement this in Equality Explorer.

[2017-05-16 17:24] amanda-phet commented on #90
I would guess that the reason for having different behavior for touch/mouse is that with a mouse it is logical that the object being clicked be directly under the cursor, but with touch you can't see the object if it's under your finger.

If the object always popped up, then **small objects** (like variables), could easily look like they're floating above the cursor, which is very strange behavior

[2017-05-16 19:40] amanda-phet commented on #83
Done via the following commits:

https://github.com/phetsims/expression-exchange/commit/a2c2c86ca754c92e73e486771cf53d2295f9dadb

https://github.com/phetsims/expression-exchange/commit/0d4a3f525f0b916ee603b7992650646da56d460e

https://github.com/phetsims/expression-exchange/commit/b68920b26bc4053241fbd9507f4dfbbe350af226

[2017-05-16 19:40] #83 closed

[2017-05-17 19:24] jbphet commented on #68
These should now be resolved, closing (since this will be retested during release process).

[2017-05-17 19:25] jbphet commented on #58
This has been implemented, closing.

[2017-05-17 19:25] #58 closed

[2017-05-17 20:05] jbphet opened #91 "memory usage seems high"
I was working on checking for memory leaks, and was seeing memory usage under Chrome at about 60-70 MB.  I just did a bit more testing and found the usage to now be around 85 MB.  The odd thing is that I went and checked a previously released dev version and found its memory usage to be about the same, so I'm wondering if something recently changed in Chrome that causes it to use more memory.

At

[2017-05-17 20:20] jbphet commented on #91
The latest dev release if v1.0.0-dev.23, available at http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.23/expression-exchange_en.html.  I'm first going to test the memory usage at startup.  The procedure is:

1. Open a new incognito window in Chrome so that we're starting from an unused tab
2. Open the sim
3. Go to the "Basics" screen
4. Using the nav bar, go to each of

[2017-05-17 21:06] jbphet commented on #91
I turned off the game screen using the `screens` query parameter and the memory usage went to 46.8 MB.  For a point of comparison, I run Unit Rates since it is a recently-release three screen sim and found that it used 42.2 MB.  These are in the ballpark of one another, so perhaps Expression Exchange's memory usage isn't all that out of line for this size of sim.

[2017-05-17 21:11] jbphet commented on #91
I just tried Function Builder, which is a recently released four screen sim and found that its memory usage is 78.6 MB (just one trial), so this also makes it seem like Expression Exchange is perhaps within reason in terms of its memory usage.

[2017-05-17 21:32] ariel-phet commented on #90
Agreed with @amanda-phet's last comment. Removing my assignment

[2017-05-17 21:41] jbphet commented on #91
Marking for dev meeting.  Do we have any guidelines or rules of thumb for memory usage?

[2017-05-17 22:03] pixelzoom commented on #91
Recent testing for Graphing Lines (https://github.com/phetsims/graphing-lines/issues/78#issuecomment-296837755) showed ~35MB for just the "Line Game" screen.  So I don't think that these numbers are all that surprising for Expression Exchange or any of the other sims noted above.

[2017-05-18 19:02] samreid commented on #91
Searching all of our repos for "MB" shows several hits that indicates prior memory test results:
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+MB+user%3Aphetsims+sort%3Acreated-asc

[2017-05-18 19:05] jbphet commented on #91
Discussed in the 5/18/2017 developer meeting and concluded that as long as it loads and runs on iPad 2, that should be a sufficient test.

[2017-05-18 20:29] jbphet commented on #89
I've gone ahead with adding the pale looking reset button.

As for the caption, "Variable Values" would be ideal, but it's a bit big for this accordion box.  For the heck of it, I tried it and it looked like this:
![exex-values](https://cloud.githubusercontent.com/assets/3082831/26222010/a6addffe-3bd5-11e7-933f-8425136ac133.PNG)

I thought about it for a bit, and I think "Values" is a reasonable c

[2017-05-18 21:40] jbphet commented on #91
I just did several tests on a 16 GB iPad 2 running iOS 9.3.5 (the PhET device named "Witten"), and the sim loaded most of the time, but there were two instances (out of roughly 8) where Safari crashed.  This makes me feel as though we are on the edge for memory usage.  @jonathanolson has been assigned to do the code review, and he also offered to look for ways to reduce the number of nodes somewha

[2017-05-19 19:36] jbphet commented on #90
Implemented the CaF-style behavior.  @amanda-phet - please take this for a test drive from master and either let me know what you think should change or simply close.

[2017-05-19 20:23] amanda-phet commented on #90
Looks great with the tweak we just made. Thanks!

[2017-05-19 20:23] #90 closed

[2017-05-23 22:35] jonathanolson opened #92 "StringUtils format => fillIn"
StringUtils.format and strings with `{0}` are used. These should be converted to using StringUtils.fillIn (named parameters with double braces).

For the code review https://github.com/phetsims/expression-exchange/issues/88

[2017-05-23 22:41] jonathanolson opened #93 "Is doc/model.md needed for this sim?"
Usually we have a very simple description if there isn't anything complicated going on.

For the code review https://github.com/phetsims/expression-exchange/issues/88

[2017-05-23 22:45] jonathanolson opened #94 "What is the purpose of my-collection.ai?"
Looks like coin-artwork.ai includes all of the required assets?

For the code review https://github.com/phetsims/expression-exchange/issues/88

[2017-05-23 22:47] jonathanolson opened #95 "Ensure credits are correct before publication"
Including QA. Issue mentioned in code review doc, but will be completed afterwards.

[2017-05-23 22:49] jonathanolson opened #96 "Simulation version?"
Looks like there's a 1.0-phetio branch, with 1.0.1 published. That would imply we would start off with 1.0.2 as a version for the main sim when it is visible?

Is Expression Exchange currently a live phet-io sim?

For the code review https://github.com/phetsims/expression-exchange/issues/88

[2017-05-24 16:24] samreid commented on #91
@jbphet can this be removed from "developer meeting" label?

[2017-05-24 17:15] jbphet commented on #91
Yes (done).

[2017-05-24 20:10] jbphet commented on #96
An early version that included phet-io was released in support of a study, see #57.  This excluded the game.  As a result, we should probably start with a new branch when this release process starts, and the branch name should be 1.1.  Back to you @jonathanolson to say whether you have concerns or objections, and for closure if this sounds okay.

[2017-05-24 20:17] jbphet commented on #94
Good catch.  This is no longer needed - it was originally for the small versions of the coins that were going to be used in the "My Collection" display, but I ended up generating those programmatically.  I've removed the file.  Closing.

[2017-05-24 20:17] #94 closed

[2017-05-24 20:47] jbphet commented on #93
Originally I had thought that this sim didn't need a model.md file since there isn't really a sophisticated underlying model, but after looking around at other similar simulations I felt like yes, we should probably have a model description document.  I've written something up, @jonathanolson - please have a look and close this if you feel it is sufficient.

[2017-05-24 21:07] jbphet commented on #92
Fixed, tested - looks good.  Closing.

[2017-05-24 21:07] #92 closed

[2017-05-24 21:09] jbphet commented on #79
Unassigning since QA is backed up, will have on the list of issues to test against the first RC for this sim, which should be soon.

[2017-05-24 21:09] jbphet commented on #80
Unassigning since QA is backed up, will have on the list of issues to test against the first RC for this sim, which should be soon.

[2017-05-24 23:33] jbphet commented on #50
I've updated to higher-res images for the coin terms.  @amanda-phet - please check it out on master and see if you think this cuts it.  I did a side-by-side comparison and I saw a noticeable improvement.

[2017-05-25 16:41] amanda-phet commented on #50
Looks great!

[2017-05-25 16:41] #50 closed

[2017-05-25 17:55] amanda-phet commented on #89
I think I prefer "Variables" because it is stating information about the variables, and **not** the coins, so that distinction is important in this sim. And while they will see this right away, it is also a nice cue about what to expect. Also, Trig Tour has a "values" panel that is pretty different- it is simply a readout.

So, please go ahead and change it to "Variables."

[2017-05-25 21:29] jbphet commented on #89
Done, it now looks like this:
![exex-panel](https://cloud.githubusercontent.com/assets/3082831/26471425/d491cc9e-415e-11e7-9432-276ed5258bbd.PNG)
Back to you @amanda-phet, please close if it looks okay.

[2017-05-26 22:39] jbphet commented on #85
This has been implemented.  I discussed this with @phet-steele and @amanda-phet, and we collectively decided that the behavior should be that the user sees this dialog and the reward node the first time that all levels have been completed, but have to reset or manually refresh every level in order to see the dialog again.  I tried it out once implemented and the behavior seemed reasonable to me.

[2017-05-26 23:58] jbphet opened #97 "artwork for the Y coin appears to have faded in color"
The current master version of the sim contains a Y coin that looks faded versus previous values.

Here is the carousel in v1.0.0-dev.23 (the center coin is the Y coin):
![exex-darker-coin](https://cloud.githubusercontent.com/assets/3082831/26515902/a244e85a-423c-11e7-8eab-b2de785c7b75.PNG)

This is from the current master version:
![exex-lighter-coin](https://cloud.githubusercontent.com/assets/308

[2017-05-28 00:42] jonathanolson commented on #96
I recommend changing to 1.1.0-dev.1 then in package.json?

[2017-05-28 00:42] jonathanolson commented on #93
Looks good, thanks!

[2017-05-28 00:42] #93 closed

[2017-05-30 07:37] jonathanolson commented on #88
I believe I've completed the code review to the depth that would be best. I haven't fully verified all of the logic (there is a lot required by this sim), but so far it looks good.

A few questions/notes that aren't covered by inline review comments or github issues:

- For naming, the 'EE' prefix seems somewhat inconsistently used (StartGameLevelNode, but has EECollectionAreaNode)? Unless there's

[2017-05-30 07:42] jonathanolson commented on #91
As noted in https://github.com/phetsims/expression-exchange/issues/88, I believe the creation of nodes (particularly images) for every coin term (if I'm reading things correctly) in CoinNodeFactory may be the culprit.

Using DAG patterns I believe should help a lot, as each Scenery Image node creates a DOM Image element, which depending on the browser may take up a sizable amount of memory.

RichT

[2017-05-30 17:18] jbphet commented on #96
Ah, an excellent point.  I've done this in 5453745fd7a660a9b70e3cb749233235dead45ec.  Tagging @phet-steele and @amanda-phet so that they are aware that the version numbers have been updated in this way, since it will affect upcoming dev and RC releases.

[2017-05-30 17:40] amanda-phet commented on #89
Looks good. Thanks.

[2017-05-30 17:40] #89 closed

[2017-05-30 17:46] amanda-phet commented on #97
I updated the assets recently when we changed the perspective. Maybe I was working off an old ai version. I remember now that we darkened the coin at one point so I'll make this change now.

[2017-05-30 21:58] amanda-phet commented on #97
Sorry about that. I updated the .ai file and uploaded two exported .png files with the darker coin background. Should be fine now. @jbphet want to verify and close if it all looks good?

[2017-05-31 21:50] jbphet opened #98 "address remaining TODO items marked in the code"
As of this writing there are 4 TODO items marked in the code.  This GitHub issue is to remind me to address them prior to publication.

[2017-06-05 17:04] jbphet commented on #97
Much better - thanks.  Closing.

[2017-06-05 17:04] #97 closed

[2017-06-05 17:05] jbphet commented on #96
Version number is now corrected, closing.

[2017-06-05 17:05] #96 closed

[2017-06-05 21:30] jbphet opened #99 "reset all button overlaps with a checkbox"
While cleaning up the code for release, the width of the "My Collection" display got reduced, and ended up affecting the layout a bit.  Here is what it looks like on master at the moment, and I need to remember to fix it:
![exex-reset-pos](https://cloud.githubusercontent.com/assets/3082831/26804075/f0cfd682-4a03-11e7-9f51-963416293e55.PNG)

[2017-06-05 23:24] ariel-phet commented on #3
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed**
- [ ] **Learning goals and standards identified** (Date: //)
- [ ] **Design concept complete**  (Date: //)

[2017-06-06 00:12] ariel-phet commented on #3
@amanda-phet can you do the "lead designer" sign-off step. I took a look at the pointer areas briefly and some things seemed a bit funky with the "1" and "-1", in addition, it looked to me as though the touch areas for the accordion box open/close buttons could be increased.

In addition, it would be good to get rolling on the the teacher tips and a rough primer draft.

[2017-06-06 04:36] jonathanolson opened #100 "Pointer areas"
Very few are overridden. Has the sim been vetted for what touch areas should be expanded?

Code review from https://github.com/phetsims/expression-exchange/issues/88

[2017-06-06 04:37] jonathanolson commented on #91
Also will plan to check performance with @jbphet when it doesn't crash.

[2017-06-06 04:48] jonathanolson commented on #88
Checked off all issues that have pending review notes.

[2017-06-06 13:56] amanda-phet commented on #3
@ariel-phet what is the timeline for publication?

[2017-06-06 15:48] ariel-phet commented on #3
@amanda-phet I would hope we get an RC out this week, so hopefully published the week of the 12th or 19th

[2017-06-06 15:50] amanda-phet commented on #3
Thanks @ariel-phet . I will be sure to have teacher tips done before publication.

[2017-06-07 23:07] pixelzoom opened #101 "identify potential for reuse in Equality Explorer"
Expression Exchange and Equality Explorer apparently have some things in common - at least that's what the Equality Explorer design document implies, and what some people on the design team have indicated.

I was supposed to do the code review for Expression Exchange, and part of that task was going to be to work with @jbphet to identify potential reuse.   But I didn't do the code review, due to t

[2017-06-09 22:45] jbphet commented on #101
I will spend some time on this on Monday, June 12th 2017.

[2017-06-09 23:18] jbphet commented on #100
I made some minor adjustments, and tested on iPad 2, and it all feels pretty usable to me.  Assigning to @phet-steele for verification on upcoming dev release.

[2017-06-09 23:20] jbphet commented on #95
@phet-steele - who should be on QA credits?
@ariel-phet - there is some artwork for the coins - should that be credited and, if so, to whom?

[2017-06-09 23:21] jbphet commented on #95
Please assign back to me when both questions are answered.

[2017-06-09 23:31] jbphet commented on #99
I adjusted the layout, it now looks like this (layout bounds are shown as red lines):
![exex-reset](https://user-images.githubusercontent.com/3082831/26997745-71b0f064-4d39-11e7-8465-e7e1ea90c9e9.PNG)

[2017-06-12 16:40] pixelzoom opened #102 "replace JS Map"
In 6/12/17 discussion about JS Map, we noticed that Map snuck into ExEx on 6/7/17 (after code review), and concluded that JS Map is not ready for use in PhET code.  It looks like Map is ExEx can be replaced with a string->value hash.

[2017-06-12 16:43] samreid commented on #102
At least on of the Expression Exchange maps is using string keys.  It looks like another is using objects, so we will need another solution for that one.

[2017-06-12 17:25] ariel-phet commented on #95
@jbphet coins were done by Mariah

[2017-06-12 18:16] jbphet commented on #102
All usages of Map have been removed, closing.

[2017-06-12 18:16] #102 closed

[2017-06-12 21:14] jbphet commented on #31
One of the cases in which this problem can arise is if the mouse or touch bounds of the coin terms are set up such that the protrude from beyond the edges of the expression in which they are contained, and the user (or the fuzz test) grabs the coin term via these protruding bounds and then drops the coin term back into the expression.  I've adjusted the expression size to prevent this from happeni

[2017-06-12 22:23] jbphet opened #103 "game screen goes blank during fuzz testing"
When fuzz testing the latest version of the sim, the game screen seems to go blank after a short while.  Fuzz testing with just the game screen enabled makes this happen quite quickly.

[2017-06-12 23:31] jbphet commented on #31
I ended up adding a new property to coin terms that can be used to explicitly disable user interaction, and the code now sets this 'prevent interaction' flag whenever coin terms are in expressions (this turned out to be useful for resolving another issue as well, see #64).  This should prevent problems even if the mouse/touch areas of the coin term peek out from inside the expression.

[2017-06-12 23:31] jbphet commented on #31
Unassigning, will have this verified on next dev or rc release.

[2017-06-12 23:32] jbphet commented on #64
This should now be fixed, unassigning, will have it re-tested on next dev or rc release.

[2017-06-13 15:44] jbphet commented on #101
I just walked through the design doc to refresh myself, and my initial thoughts are to have a look at:

`CoinTermCreatorBox`, which is a box containing creator nodes
`CoinTermCreatorNode`, which is how the user creates elements in the model
If I recall correctly, there are some cases where the items dragged from the creator box can be combined with one another.  `ExpressionManipulationModel` might

[2017-06-13 15:47] pixelzoom commented on #101
Thanks @jbphet.

[2017-06-13 16:40] amanda-phet commented on #99
This solution looks good to me. Thanks for fixing the layout!

[2017-06-13 16:40] #99 closed

[2017-06-13 16:41] amanda-phet commented on #76
This has been fixed for a while and I confirmed it looks great. Closing.

[2017-06-13 16:41] #76 closed

[2017-06-13 16:43] amanda-phet commented on #95
David Webb needs to be added to the team.

[2017-06-13 16:45] amanda-phet commented on #95
Can you also remove me from the team since I'm already listed as lead? I just checked a few sims and the lead is not usually listed twice.

[2017-06-13 16:48] jbphet commented on #95
I hadn't noticed the redundant entry - that has been fixed.  I also added David Webb.

[2017-06-13 16:50] amanda-phet commented on #100
1 and -1 look funny on the Negatives screen.

Also, I know that with a toggle you can generally click the images next to the toggle instead of dragging the actual toggle knob. I don't see the touch areas outlined with the query parameter but I can check on an iPad to see that they are functioning ok.

[2017-06-13 18:59] jbphet commented on #103
This was due to buttons being pressed while screens were being animated, so I made the screens non-interactive when they are moving.

[2017-06-13 19:00] jbphet commented on #26
We are getting close to releasing this sim, and a lot has changed.  Assigning to @phet-steele to determine if this is still an issue and, if so, I'll add an invisible backing rectangle that should prevent the problem.

[2017-06-13 19:04] jbphet commented on #71
For testing purposes, I've added a query param to show the reward node at the completion of every level.  The flag is `showRewardNodeEveryLevel`.

[2017-06-13 19:14] jbphet commented on #82
Closing as duplicate, see #101.

[2017-06-13 19:14] #82 closed

[2017-06-13 19:17] jbphet opened #104 "X coin looks a little cut off in some situations"
Something about the artwork for the X coin has changed fairly recently, and it looks a bit cut off on the right side and the bottom in some situations.  Here is a screen capture from my secondary monitor that hopefully depicts the problem:
![exex-cut-off-coin](https://user-images.githubusercontent.com/3082831/27100241-9a3b9d8c-503a-11e7-8f69-2c3237968b30.PNG)

[2017-06-13 19:20] jbphet commented on #104
When I look at the Adobe Illustrator file that contains the artwork for these coins, I notice that each coin has a little rectangle around it.  I'm not sure what this is (my skills with AI are pretty rudimentary), but I suspect it is involved in the cut-off appearance.  Assigning to @amanda-phet to see if she know what's going on.

[2017-06-13 20:37] amanda-phet commented on #52
Seems like a reasonable idea. I didn't notice the alignment because most piles are similar in size, but in this example they are pretty different.

@jbphet is it easy to align the stacks so that they are aligned at the top?

[2017-06-13 20:39] amanda-phet commented on #104
Each little rectangle is an artboard. Each coin gets exported based on that artboard, and yes that one might be a little too close to the edge of the coin, causing it to be cut off. I'll look in to each coin and re-export any others that might also be too close.

[2017-06-13 21:25] amanda-phet commented on #104
@jbphet do you want to check to see if the coins look ok now? I visually verified each coin's .png and they all look good to me. In the sim they don't look as good, but that could potentially be caused by another issue.

[2017-06-14 15:27] jbphet commented on #104
Yep, they look better now.  Thanks!  Closing.

[2017-06-14 15:27] #104 closed

[2017-06-14 15:34] jbphet commented on #52
I wouldn't say 'easy', but it's certainly possible.  I'll see what I can do.

[2017-06-14 19:35] phet-steele commented on #67
Primary issue fixed, closing.

[2017-06-14 19:35] #67 closed

[2017-06-14 20:02] phet-steele opened #105 "This sim lacks audio for an incorrect game answer"
Conferring with @jbphet and @amanda-phet, we should add the PhET standard "boing" when a player inputs an incorrect answer for a game challenge.

For phetsims/tasks/issues/860.

[2017-06-14 20:04] EthanWJohnson opened #106 "Terms can be lost off-screen on very large expressions"
Seen on Win 10 Chrome

This seems to be a combination of two behaviors; first, when adding multiple-term expressions together the dropped expression will always add itself to the right of the anchor expression, and second, the anchor expression can be moved while the dropped expression is in transit, cancelling their merge.

Steps to do;
1.) Make very large expression. Drag it as far to the right

[2017-06-14 20:09] phet-steele commented on #80
Thanks @jbphet, the sim is behaving quite nicely with these changes.

[2017-06-14 20:09] #80 closed

[2017-06-14 20:11] phet-steele commented on #64
@EthanWJohnson please check 1.1.0-dev.3 for this issue.

[2017-06-14 20:14] EthanWJohnson commented on #64
Tested several times; this is still occuring in 1.1.0-dev.c

![image](https://user-images.githubusercontent.com/22551096/27152657-c941988a-510b-11e7-9334-09e81cf48766.png)

[2017-06-14 21:16] phet-steele opened #107 "Remove "Undo" buttons on completion of a level"
After conferring with @jbphet and @amanda-phet, we agree that the "Undo" buttons do not need to be visible once all three challenges have been answered correctly in a level. @jbphet, the buttons would disappear *immediately* after completion of a level, just as the Next button appears.

For phetsims/tasks/issues/860.

[2017-06-14 21:33] phet-steele opened #108 "Remove Next button and smiley face after completing all levels"
After conferring with @amanda-phet, we landed on the idea to remove the Next button (and smiley face, referred to collectively) each time ***all*** levels have been completed. In other words, the Next button would be removed in conjunction with the appearance of the final game completion dialog. To clarify, the Next button would remain in each level for the extent of play time prior to completing

[2017-06-14 21:50] amanda-phet commented on #108
Just to clarify the scenario above, the below scenario also needs to be possible:

1.     Start on level 3. Complete it, get Next button.
**2.     Click Next button. Realize level 4 is too difficult.**
3.     Go to level selection.
4.     Go to level 2.
5.     Complete it, get Next button.
6.     Click Next to go to level 3. Next button is still there from original completion in step 1.

[2017-06-14 21:58] phet-steele commented on #103
fuzzed for ten minutes without the screen going blank, closing

[2017-06-14 21:58] #103 closed

[2017-06-14 22:55] ayeemdee opened #109 "Terms are lost off screen when dividing even number stacks"
One coin term gets stuck off screen when even number stacks are divided on the edge of the screen.

Start by being on a screen where terms can be placed on top of each other:
1. Create a stack of one term in even multiples
2. Move stack to edge of screen
3. Use scissors icon to divide stack
4. All but one of the cards returns to play area

![bug](https://user-images.githubusercontent.com/2342849/2

[2017-06-15 16:48] phet-steele commented on #79
@jbphet I haven't been able to reproduce in 1.1.0-dev.3.

[2017-06-15 16:48] #79 closed

[2017-06-15 17:20] phet-steele opened #110 "Reset all does not reset the carousel page"
Scroll the carousel to something other than it's first page, then hit Reset All. The carousel will not return to its default page. (Explore and Negatives screens only)

Seen on macOS 10.12.5 Chrome. For phetsims/tasks/issues/860.

URL: http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.1.0-dev.3/expression-exchange_en.html?dev
Version: 1.1.0-dev.3 2017-06-13 18:51:38 UTC
Features

[2017-06-15 18:49] phet-steele opened #111 "Why do collection areas still have a green halo when they already contain an answer?"
If we use the green halo to cue "hey, try to check your answer here", then it doesn't make sense to show the green halo when the collection area already contains an answer. You can't answer the same challenge twice. I'd say if a collection area already has an answer, don't show the green halo on hover.

![ee14](https://user-images.githubusercontent.com/5863899/27196774-119c0486-51c9-11e7-9a70-0b4f

[2017-06-15 18:56] amanda-phet commented on #111
Makes sense to me.

[2017-06-15 19:38] EthanWJohnson commented on #64
Would also like to note that when misalignment happens I am now getting the following error;
![image](https://user-images.githubusercontent.com/22551096/27198551-e8cedb1c-51cf-11e7-8a31-30b609c7959b.png)

[2017-06-15 19:51] phet-steele opened #112 "Term jump is causing symbols to jump in an expression"
This issue relies on the "jump" that occurs when you grab a term on a touch screen. Therefore, this issue is not exhibited with a mouse. Additionally, the simplify negatives checkbox MUST be checked

1. Go to a screen with a "simplify negatives" checkbox and check it
2. Create an expression. The expression does NOT need to have negatives in it
3. Start editing the expression
4. Touch one of the te

[2017-06-15 21:04] phet-steele commented on #31
@jbphet took me three hours of fuzzing:

[code]

[2017-06-16 20:53] ariel-phet commented on #3
@amanda-phet since we are now in dev testing can you do the "lead designer" sign-off step?

[2017-06-16 21:01] jbphet commented on #111
Fixed, leaving open and will have this verified in next release.

[2017-06-16 21:10] jbphet commented on #110
Fixed, will leave open and have it verified on next release.

[2017-06-16 21:40] EthanWJohnson opened #113 "Toggling all coefficients with moving/merging expressions sets them free"
This bug is evil, because reproducing it is unreliable at best. FuzzMouse could do it because it could manipulate expressions the frame after it toggled coefficients. @phet-steele and I tried to get this figured out yesterday, and today I've found a way to reproduce this regularly on Win 10 chrome. The steps below outline the process;

1.) Assemble two expressions of coins on the explore screen. T

[2017-06-16 23:02] jbphet commented on #105
This is implemented, but I have a question about it.  Originally, I made it so that the 'incorrect answer' sound was played every time a submission was rejected.  For the most part, this worked great, but there was one use case that felt odd to me.  If a user submits a correct answer, and it gets collected, and then the user tries to submit the same answer to the same collection area, the 'incorre

[2017-06-17 00:14] jbphet commented on #106
I've added code that recognizes this situation and retrieves the lost expression.  I'll leave this open and unassigned for now, and will have it tested on the next release.

[2017-06-19 16:17] amanda-phet commented on #105
I think that if the collection area is full, no sound should be played if someone is trying to submit a second answer.. the expression should just rebound.

[2017-06-19 17:28] phet-steele commented on #85
The dialog is not appearing a second time after resetting and answering all questions again (manually refreshing each level is working as expected).

This is not implemented/working. Going back to your "last" level still shows the completion dialog and reward, not the Next dialog.

@jbphet, to point out one last thing, the logic allows this to happen:

1. Complete all levels
2. In each level, clic

[2017-06-19 21:05] jbphet commented on #112
Fixed this by making Y position of the operators based only on expression height, not term position, and this seems to work.  Will leave open and unassigned, and will have it verified on next release.

[2017-06-20 16:06] jbphet commented on #107
I've added this functionality, will unassign and have it tested on next release.

[2017-06-20 16:55] jbphet commented on #105
Okay, I've modified the behavior so that no sound is played when an item is rejected due to a full collection area.  Unassigning and leaving open to be verified on next release.

[2017-06-20 18:34] jbphet commented on #52
I've made this change and reviewed it with @amanda-phet, who approved of the new look.  Closing.

[2017-06-20 18:34] #52 closed

[2017-06-20 20:52] phet-steele opened #114 "destinationReachedListener is lingering and causes expressions to combine when they shouldn't"
To pull this off, you need two expressions that are the correct answer to a target on the Game screen.

1. Create two expressions that will work as an answer for a single target. This is easy in level 6, for example, where some challenges have three identical targets.
2. Correctly answer a target with one of your expressions.
3. Click Undo on that answer.
4. Take your second expression and combine

[2017-06-20 20:58] EthanWJohnson opened #115 "Reward Screen will not appear twice"
Unsure if this is intended behavior or not, so reporting in case it isn't. If you complete all the levels on the game screen, reset it, and then complete all the levels again, the final reward screen won't trigger again. It seems it will only ever trigger once without fully reloading the sim.

Seen in Win 10 Chrome

Related to https://github.com/phetsims/tasks/issues/860

Debug Info:
Name: ‪Expres

[2017-06-20 21:24] phet-steele commented on #115
@EthanWJohnson it is not intended behavior and has been reported here: https://github.com/phetsims/expression-exchange/issues/85#issuecomment-309509794. Closing.

[2017-06-20 21:24] #115 closed

[2017-06-20 23:04] jbphet commented on #113
I've added code that prevents animation of the coin term position updates when an expression is in motion.  I've tested a bit after adding this, and was unable to duplicate the problem.  I hesitate to say it is addressed, though, since it's so hard to duplicate in the first place.  Assigning to @phet-steele and @EthanWJohnson to test on master.  We are trying to get this sim out soon, so this test

[2017-06-20 23:05] jbphet commented on #108
I've added code to do this and have done a minimal amount of testing.  Since testing this is time consuming, I could use some help.  Assigning the @phet-steele to test on master (or delegate).

[2017-06-20 23:06] jbphet commented on #85
I believe the changes to address #108 and #107 should take care of this.  Assigning to @phet-steele to test on master.

[2017-06-20 23:08] jbphet commented on #64
Unable to duplicate, possibly because of other changes made recently.  Back to @EthanWJohnson and @phet-steele for more precise instruction on how to duplicate.

[2017-06-20 23:47] jbphet commented on #114
There was a path through the code that was not removing a listener for the end of the expression animation, and since that was lingering, the expressions could still combine in some circumstances.  Nice catch @phet-steele.  I have fixed this, please retest and see if the problem appears to be addressed.  I was unable to duplicate it after the change, but I only tried for a few minutes.

[2017-06-21 16:34] phet-steele commented on #114
@jbphet I can't reproduce either. Supposedly like everything else, let's leave this open to verify in the next release.

[2017-06-21 16:53] phet-steele commented on #108
@jbphet, not sure if this is a result of the commits in this issue or another:

1. Reach the completion dialog
2. Don't press Done or the back button, but press refresh

The completion dialog does not get dismissed. This is new and does not happen in 1.1.0-dev.3

[2017-06-21 17:24] phet-steele commented on #85
This is working.

This has been corrected and you no longer see the completion dialog when re-entering a level.

Also not happening due to changes in #107. Thanks @jbphet.

[2017-06-21 17:24] #85 closed

[2017-06-22 16:11] phet-steele commented on #26
@jbphet, still an issue in current master.

[2017-06-22 16:37] samreid opened #116 "@public {Type} (read-only) should be changed to @public (read-only) {Type}"
I noticed that in Expression Exchange the visibility annotation parentheticals are after the types, but nearly everywhere else (the exception being one file in Proportion Playground) the visibility (and read-only) are provided before the type.

For instance, Expression Exchange has lines like:
[code]

While other sims use this pattern (example from Function Builder)
[code]

I can see the advantage

[2017-06-22 16:47] phet-steele commented on #113
@jbphet this is still possible, but is a little fishy... I didn't have a term visibly outside of the expression bounds, but after hitting 5a. and splitting the expression, there was ONE term that could not be remade into an expression. It is almost like it failed to be removed from the expression when the expression was split, but was still visually removed.

Here's what it looked like. Trying to

[2017-06-22 19:17] phet-steele commented on #64
@jbphet, after watching that gif ~1 million times, this is what is occurring:

1. Assemble an expression, the longer the better.
2. Put one lone term below the expression and another lone term beside the other lone term, like so:
<img width="1356" alt="screen shot 2017-06-22 at 1 04 09 pm" src="https://user-images.githubusercontent.com/5863899/27451440-3bf7066c-574c-11e7-9d78-7a4ad4ebc56a.png">

3

[2017-06-22 19:49] EthanWJohnson commented on #64
I had suspected it was related to merging (like our dear friend https://github.com/phetsims/expression-exchange/issues/113) but I hadn't been able to isolate it directly.

[2017-06-22 19:55] amanda-phet commented on #100
Confirmed with iPad that the touch areas for the toggle are not large enough (or existent?). Can we make sure that the images for the coin and x are comfortably large for touch?

Currently, only the toggle knob has a larger touch area:
![screen shot 2017-06-22 at 1 53 31 pm](https://user-images.githubusercontent.com/7852916/27453067-590334e6-5752-11e7-99c8-b7384b8f2274.png)

[2017-06-22 20:29] phet-steele commented on #71
The RewardNode is working great!

[2017-06-22 20:29] #71 closed

[2017-06-22 20:45] phet-steele opened #117 "Term jump needs to be bounded"
You can continually touch a term until it goes up above the screen:

![ee18](https://user-images.githubusercontent.com/5863899/27455094-6cda1712-5759-11e7-87ae-3a6e9307588b.gif)

Seen on iPad Air 2 iOS 10.3.2. For phetsims/tasks/issues/860.

[2017-06-22 20:48] EthanWJohnson commented on #113
I'm having a lot of difficulty reproducing this in its original form, particularly due to increased merge speed.

[2017-06-22 23:43] jbphet commented on #100
As for 1 and -1, I think @amanda-phet was seeing the pointer areas for items that were clipped from the carousel.  I went ahead and added pointer areas to the constant coin terms though, just to avoid confusion, and it might make them more consistent to interact with.

As for the AB switch, I've expanded the touch areas for the nodes used and shifted these touch areas so that they don't overlap wi

[2017-06-23 05:35] jbphet commented on #108
Ah, hadn't thought of that case.  It should now be handled.  I also added a query param `minimalGameLevels` that reduces the number of levels to 2 in order to make it faster to test the behavior when all levels are completed.  Back to @phet-steele to test on master.

[2017-06-23 05:39] jbphet commented on #117
Should now be bounded, please verify on master.

[2017-06-23 06:50] jbphet commented on #26
I've handled this using "the usual method", which is to add a transparent rectangle that is equal to the expanded bounds of the text.  I tested it on an iPad 2 (the PhET iPad named "Tycho") and it seemed to resolve the issue.  Please verify on master.

[2017-06-23 07:32] jbphet commented on #64
Nice work @phet-steele - this made it much easier to address.  I've added code to prevent coin terms that are about to be engulfed by an expression from being able to join with another free coin term.  Please retest.

[2017-06-23 16:08] phet-steele commented on #114
Looks good in dev.4!

[2017-06-23 16:08] #114 closed

[2017-06-23 16:09] jbphet commented on #31
Recent changes to #64 and #113 may have addressed this, and I was able to run several hours of fuzz testing without hitting it.  Assigning to @phet-steele to test on dev or RC version.

[2017-06-23 16:11] phet-steele commented on #117
Good in dev.4!

[2017-06-23 16:11] #117 closed

[2017-06-23 16:16] phet-steele commented on #112
@jbphet the X position of the operators can still be moved whether I grab towards the left or right of a term. This causes a sort of "jumpiness" that could be distracting. Is this easy to address?

[2017-06-23 16:38] phet-steele commented on #110
Fixed in dev.4

[2017-06-23 16:38] #110 closed

[2017-06-23 16:40] phet-steele commented on #111
Looks good in dev.4, thanks y'all.

[2017-06-23 16:40] #111 closed

[2017-06-23 16:43] phet-steele commented on #109
Looks fixed in dev.4.

[2017-06-23 16:43] #109 closed

[2017-06-23 16:45] phet-steele commented on #105
Behaves great in dev.4!

[2017-06-23 16:45] #105 closed

[2017-06-23 16:52] phet-steele commented on #64
@jbphet I've had no luck reproducing anything pertaining to this issue in dev.4

[2017-06-23 16:52] #64 closed

[2017-06-23 16:53] phet-steele commented on #26
I don't see them on Tycho + dev.4 anymore!

[2017-06-23 16:53] #26 closed

[2017-06-23 17:00] phet-steele commented on #107
Behaving amazingly in dev.4, woo!

[2017-06-23 17:00] #107 closed

[2017-06-23 17:07] phet-steele commented on #108
That query parameter made me laugh! Anyway, I believe we have achieved a clean game flow!

[2017-06-23 17:07] #108 closed

[2017-06-23 17:09] phet-steele commented on #13
This doesn't happen in dev.4, and probably hasn't been able to happen in awhile.

[2017-06-23 17:09] #13 closed

[2017-06-23 17:12] phet-steele commented on #100
@amanda-phet likes the touch areas in dev.4, and so do I.

[2017-06-23 17:12] #100 closed

[2017-06-23 17:50] phet-steele opened #118 "Expression should not be editable while user controlled"
This can lead to answering a challenge with an incorrect answer, and messes with the scaling.

![img_0072 1](https://user-images.githubusercontent.com/5863899/27493971-1a01627e-5809-11e7-84e4-ce5fb56030fe.PNG)

So, use finger A to start dragging an expression, then use finger B to press the edit button. Dragging finger A will still move the expression around in edit mode. Can probably lead to a lo

[2017-06-23 17:58] jbphet commented on #112
I looked at it and, unfortunately, it is not easy to address.  In general, when an expression layout is updated, the coin term positions are determined and then the operators are positioned evenly between the coin terms.  I was able to change the code that positions the operators such that the vertical center of the expression was used for the Y position, which solved the issue with the operators

[2017-06-23 18:01] phet-steele commented on #113
Agreed, this is tough to execute let alone reproduce. One of my "trials" in 1.1.0-dev.4 looked like a decent execution, but I saw no bug afterward. This seems like a one in a million (if it even can happen anymore) so, closing.

[2017-06-23 18:01] #113 closed

[2017-06-23 18:03] phet-steele commented on #112
This is fine as-is then, thanks for the input @jbphet. Closing as fixed!

[2017-06-23 18:03] #112 closed

[2017-06-23 18:10] phet-steele commented on #106
@jbphet, perform the same procedure as above but replace step 4 with something else:

 1.) Make very large expression. Drag it as far to the right as possible.
2.) Make another expression of 2 or more terms.
3.) Drop second expression on large one. It will move to place itself on the rightmost of the large expression.
**4.) Cut the larger expression.**

The other expression will be lost off screen

[2017-06-23 18:48] phet-steele commented on #91
@jbphet @jonathanolson, 1.1.0-dev.4 is not crashing on an iPad 2. Each screen was filled with max terms and the game was completed multiple time. That's not to say the sim didn't slow down, however (was still usable).

[2017-06-23 19:14] jbphet commented on #98
All TODO-marked items have now been addressed, closing.

[2017-06-23 19:14] #98 closed

[2017-06-23 21:06] jbphet commented on #106
Added code to prevent combining if expression is gone when destination reached.  Ready for test.

[2017-06-23 22:50] phet-steele commented on #31
2 hours today, no issues.

[2017-06-23 22:50] #31 closed

[2017-06-26 18:43] phet-steele opened #119 "Flicking terms/expressions near another expression will make the join hint stick"
Even if the two things don't actually combine. @jbphet was shown this directly, here is a screenshot:

<img width="1435" alt="screen shot 2017-06-26 at 12 43 15 pm" src="https://user-images.githubusercontent.com/5863899/27554843-0f5b54a4-5a6d-11e7-9d39-db154891fec1.png">

[2017-06-26 18:51] jbphet commented on #119
This was due to the quick flicking movement - if a user-controlled expression or coin term was over the expression in one frame and then *not* over it in the next frame and *not* user controlled, the state of the hints wasn't getting updated.  I've changed the step function in ```ExpressionManipulationModel``` to clear the state on every step and then update it.

[2017-06-26 19:20] jbphet commented on #118
I've added code to prevent entry into edit mode for an expression that is user controlled and exit from edit if *anything* is user controlled.  This helps things, but may not address all use cases of this multi-touch issue.  Back to @phet-steele to test and let me know if there are still use cases that fail and, if so, what they are.

[2017-06-26 20:19] phet-steele opened #120 "1.1 Screenshot"
@amanda-phet I'll need to take a screenshot before publication. Will assign to when rc is closer to being done and I have screenshots for you to look at (or you can suggest one now).

[2017-06-26 21:30] EthanWJohnson commented on #106
Disregarding being difficult to attempt, i'm unable to replicate the bug using either method, so it seems like its fixed and should stay fixed unless an equal but opposite code change makes it happen again.

[2017-06-26 21:30] #106 closed

[2017-06-27 16:01] phet-steele commented on #119
Fixed in 1.1.0-rc.1

[2017-06-27 16:01] #119 closed

[2017-06-27 16:55] jbphet opened #121 "make 'touch snag' work for coin term creator nodes"
@kathy-phet reported the following:

[2017-06-27 16:59] jbphet commented on #121
I tried adding ```allowTouchSnag: true``` to the input listener added to the creator nodes in ```CoinTermCreatorNode.js``` (currently on line 135).  This didn't seem to make any different in the behavior, and I suspect that it's because the events are being forwarded from the creator node to the creator node.

@jonathanolson's - is there a way to have touch snag supported through event forwarding?

[2017-06-27 17:26] samreid commented on #121
I was asked to do something similar in Circuit Construction Kit in https://github.com/phetsims/circuit-construction-kit-common/issues/371

I changed vanilla input listener to SimpleDragHandler and added allowTouchSnag:true and everything worked nicely on iPad2.  I'd be happy to take a closer look at your situation if you would like to call.

[2017-06-27 17:27] samreid commented on #121
You will need to convert from vanilla object literal `{}` to using `SimpleDragHandler`.

[2017-06-27 18:20] jbphet commented on #121
@samreid and I were able to get some time from @jonathanolson, and he helped us to add the needed forwarding calls to the object literal instead of using `SimpleDragHandler`.  Initial testing show that it works well.  I have committed this on both the 1.1 branch and master, so it should be available in the first release.

[2017-06-28 17:28] phet-steele commented on #68
Point two is still an issue in 1.1.0-rc.1:

[2017-06-28 19:07] phet-steele commented on #118
Looks to be two big ones:

1. Control a term with one finger and enter edit mode with another finger. You will still be controlling the term and can add it to the expression if you'd like.

2. Control an expression with one finger, then enter edit mode on a second expression with a second finger. You will still be controlling the first expression.

Other than that, exiting edit mode in general and

[2017-06-28 21:28] phet-steele commented on #120
Amanda suggested:
![image](https://user-images.githubusercontent.com/5863899/27661113-5a8cd560-5c16-11e7-94f2-60afcad77d2d.png)

[2017-06-29 19:23] phet-steele commented on #95
@jbphet the QA credits are good. Doubt they will change in 1.1.0-rc.2.

[2017-06-29 19:23] #95 closed

[2017-06-29 23:52] jbphet commented on #68
Added explicit width limits to the titles.

[2017-06-29 23:56] jbphet commented on #118
Both of these items will be easy to fix once we have the drag handler that cancels previous touches.  I think that these are fairly unusual use cases and the consequences aren't that bad, so I feel like it's fine to defer this until we have the new handler.

[2017-06-29 23:57] jbphet commented on #91
Since this now works on iPad 2 and doesn't appear to leak memory, I'm closing this issue.

[2017-06-29 23:57] #91 closed

[2017-06-30 16:31] phet-steele commented on #68
1.1.0-rc.2 passes.

[2017-06-30 16:31] #68 closed

[2017-06-30 16:49] phet-steele commented on #120
We agreed on the image in the above commits:

![expression-exchange-screenshot](https://user-images.githubusercontent.com/5863899/27745737-c0d0b3d4-5d81-11e7-833b-2bd8c38b1c1f.png)

[2017-06-30 16:49] #120 closed

[2017-07-03 16:56] pixelzoom opened #122 "add sim to responsible_dev.md"
See https://github.com/phetsims/phet-info/issues/51

[2017-07-03 16:57] pixelzoom commented on #122
@jbphet via Skype:

[2017-07-03 16:57] #122 closed

[2017-07-03 21:06] jbphet commented on #121
Test has been tested and released - closing.

[2017-07-03 21:06] #121 closed

[2017-07-03 21:06] jbphet commented on #88
Review and responses complete - closing.

[2017-07-03 21:06] #88 closed

[2017-07-03 21:08] jbphet commented on #57
An instrumented version was delivered, and apparently met the needs of the users.  Subsequent phet-io instrumentation should be done under a new GitHub issue.  Closing.

[2017-07-03 21:08] #57 closed

[2017-07-03 21:09] jbphet commented on #3
Checklist completed - closing.

[2017-07-03 21:46] ariel-phet commented on #3
@jbphet your parts of the checklist are completed, yes, but I still have some things to do :)

Reopening

[2017-07-04 17:02] ariel-phet commented on #3
@amanda-phet once an activity has been uploaded, can you make a primer issue and close the checklist?

[2017-07-07 16:46] phet-steele opened #123 "TypeError: this.setTranslation is not a function"
From phetsims/scenery/issues/629

[code]

[2017-07-07 17:10] jonathanolson commented on #123
Presumably disposing and then trying to use the node.

[2017-07-11 18:07] amanda-phet commented on #3
An activity is uploaded.

[2017-07-11 18:07] #3 closed

[2017-07-11 18:07] amanda-phet opened #124 "Make a sim primer"

[2017-07-17 23:40] jbphet commented on #123
Fixed, closing.

[2017-07-17 23:40] #123 closed

[2017-07-19 22:09] samreid opened #125 "Cut buttons should disappear when clicking away"
While working on https://github.com/phetsims/circuit-construction-kit-dc/issues/87 @jonathanolson and I noticed that the cut button is on a timer.  That seems like an accessibility problem, since some users will not be able to reach the button within the allotted time.  In other sims such as CCK we have used a pattern where clicking away, or clicking anything else dismisses the scissor buttons.

@

[2017-07-20 01:04] jonathanolson commented on #125
Mentioned approach is in https://github.com/phetsims/scenery/issues/650.

Would add `phet.joist.sim.display.addInputListener( ... )` with a listener that dismisses the buttons when the user clicks outside of the Expression or buttons themselves.

[2017-07-20 18:38] jbphet commented on #125
Assigning to @amanda-phet to decide if the behavior should be changed in the recommended way.  I have no objection.

[2017-07-20 18:56] amanda-phet commented on #125
I can't remember exactly why we chose the timer... I just know that we wanted the buttons to go away. Clicking away seems reasonable.

To clarify, the behavior here won't mimic CCK in other ways- for example, unlike CCK, the rearrange and scissor buttons should appear while dragging and persist after stopping a drag (until they click away).

[2017-07-27 22:07] jbphet commented on #116
Done.  @samreid - you can take a look and see if these appears to meet the standards or simply close at your discretion.

[2017-07-28 02:26] samreid commented on #116
Looks great, thanks!  I noticed a few spots where parentheses were missing or where the parens came before the `@`.  Everything else is great.

[code]

[2017-07-28 23:30] jbphet commented on #116
Stragglers cleaned up.  I think that should do it - closing.

[2017-07-28 23:30] #116 closed

[2017-08-04 19:33] jbphet opened #126 "screen names use incorrect format"
The naming convention for screen names was not adhered to in the strings file.  This might be because the convention was a little unclear in the code review checklist, but @pixelzoom recently made an update that clarified it, see https://github.com/phetsims/phet-info/commit/e66474483fb5a1891ca8975f4a064bbb6dcd68ac.

This should be fixed, but doing so is a little tricky since there are 16 translati

[2017-08-07 17:28] phet-steele opened #127 "Assertion failed: Setting center is invalid when the node has invalid (empty/NaN/infinite) bounds."
@jbphet this is a very rare error on Bayes.

[code]

[2017-08-08 17:43] jbphet commented on #127
I've analyzed the stack trace, and this issue is occurring when a timer goes off that is supposed to hide a button that is used to break apart a composite coin term.  The code tries first to position the button, then make it invisible, and the assertion is occurring during the positioning step.

The code *does* check to verify that the button exists before trying to position it, so it's a bit of a

[2017-08-08 22:05] pixelzoom commented on #126
Given the amount of work required here, I would just live with it.  I'm sure this isn't the only sim that doesn't follow the convention.  My 2 cents...

[2017-08-18 19:36] jbphet commented on #126
Okay, living with it.  Closing.

[2017-08-18 19:36] #126 closed

[2017-08-22 15:57] phet-steele commented on #127
@jbphet, don't think I've ever seen the error checking for checking if bounds are finite, only empty:

[code]

[2017-09-20 16:11] phet-steele opened #128 "Cannot dispose a button while firing"
From the assertion added in  https://github.com/phetsims/energy-skate-park-basics/issues/380#issuecomment-330721521

[code]

[2017-09-20 16:59] samreid commented on #128
The assertion was removed in https://github.com/phetsims/sun/commit/3be19b704d392c437a1cc89f5b906cd8dbbd177a, closing.

[2017-09-20 16:59] #128 closed

[2017-09-20 17:35] pixelzoom opened #129 "assertion failure in AbstractCoinTermNode"
While working on another issue, I ran across this.

Running from master with `?ea&fuzzMouse`,  I see the following assertion failure:

[code]

with message:

[2017-09-20 17:40] pixelzoom opened #130 "unlink issues"
Related to https://github.com/phetsims/axon/issues/140.  These are all "tried to removeListener on something that wasnt a listener" assertion failures.

(1) Expression

[code]

`bind` creates a new function instance, so `lazyLink` and `unlink` are being called with different functions.  This can be fixed by creating one instance of the function and using it in these 2 places. I.e. in the construct

[2017-09-20 17:43] pixelzoom commented on #130
The above 2 issues are fixed.  While testing, I ran into an unrelated assertion failure (#129) and had to comment out that assertion in order to complete testing.  But with `?ea&fuzzMouse`, I see no more `unlink` issues.

@jbphet please review.  Especially confirm that the fix for (2) above was OK.

[2017-09-20 17:43] phet-steele commented on #129
@pixelzoom, see the immediately preceding issue, #127. Closing as duplicate (reopen if I'm mistaken)

[2017-09-20 17:43] #129 closed

[2017-09-20 17:50] pixelzoom commented on #129
Sorry about that. I did look at open issues, but the title of #127 indicated a different assertion.  I see that in later comments the AbstractCoinTermNode was identified, guess it's related somehow.

[2017-09-20 19:09] pixelzoom commented on #130
Hmmm... I just noticed that these issues were `unlink` failures, and https://github.com/phetsims/axon/issues/140 (Phase 2) is related to removing the guard from `link`.  Why didn't these issues manifest during Phase 1? (https://github.com/phetsims/axon/issues/132).

[2017-09-25 02:09] pixelzoom commented on #101
The [design document](https://docs.google.com/document/d/1xu9nawWcndFqgg5zyCGm25h-OFUsuFYnXF3QHW42spQ/edit#) for Equality Explorer says:

@jbphet can you please point me to where this fading is implemented?  And please comment on why twixt `OpacityTo` was not used.

[2017-09-25 02:40] pixelzoom opened #131 "some controls becomes unusable with stringTest=long"
With long strings, the "Total" accordion box's expand/collapse button gets scaled down to where it's unusable. This occurs in all screens. The screenshot below shows the Negatives screen.  There's no reason for the expand/collapse button to shrink.  I'm guessing that you're setting `maxWidth` on the wrong thing (like the AccordionBox itself) instead the box's title and content.

![screenshot_393](

[2017-09-25 02:41] pixelzoom commented on #131
Ditto for the checkboxes at lower right.  The check box labels should have `maxWidth`, not the CheckBoxes themselves.

[2017-09-25 02:45] pixelzoom commented on #131
Here's a list of all controls that have this problem:

- [ ] expand/collapse button in "Totals" accordion box (all screens)
- [ ] "Coin Values" and "All Coefficients" check boxes on Basics and Explore screens
- [ ] "Variable Values" and "All Coefficients" check boxes on Negatives screen

[2017-09-27 17:22] jbphet commented on #101
Fading is implemented using a model property, see `CoinTerm.existenceStrengthProperty`.  The view sets the opacity based on the "existence strength" of the model element.

I originally tried doing the fade out strictly in the view,, but it turned out to be more complicated.  Unfortunately I don't recall the details.  I think it had something to do with having a view node continuing to exist when t

[2017-09-27 17:49] pixelzoom commented on #101
Thanks for the info.  The "fade out" is certainly view-specific, so having it handled in the model doesn't feel right. So rather than reuse what's being done in EE, I think I'll investigate a view-based approach first. I'll let you know if I discover anything that might apply to EE and other sims where you've used the `existenceStrength` approach.

[2017-09-27 17:53] pixelzoom commented on #101
Btw... In Equality Explorer, once two inverses (ie., x and -x, 1 and -1) are summed, there is no reason to represent '0' in the model. The '0' is strictly something that is shown in the view to indicate that inverses summed to zero.  So I'm unlikely to run into the "view node continuing to exist when the model node didn't" issue that @jbphet mentioned in https://github.com/phetsims/expression-exch

[2017-09-29 18:40] jbphet commented on #130
Changes look good, thanks.  No idea why these didn't show up during Phase 1.

Closing.

[2017-09-29 18:40] #130 closed

[2017-10-03 00:20] pixelzoom commented on #101
@jbphet A question about summing inverses (x and -x, 1 and -1) to zero in the Negatives screen.  I'm trying to decide how to incorporate the concept of inverses into the "creator pattern".  I have separate creators for x, -x, 1 and -1.   How did you go about representing the fact that x and -x are inverses, but (for example) x and 1 are not?

[2017-10-03 20:00] pixelzoom commented on #101
I asked:

@jbphet and I discussed via Zoom.  See `typeID` and `totalCountProperty` in CoinTerm.

[2017-10-03 21:21] jbphet commented on #131
Thanks for the suggestions @pixelzoom - I've added limits to content and titles in order to prevent the scaling issues described.  The screens now look like this for `stringTest=long`:

![exex-1](https://user-images.githubusercontent.com/3082831/31149709-17443904-a84e-11e7-943d-21b49d94851f.PNG)

![exex-2](https://user-images.githubusercontent.com/3082831/31149714-1cee42aa-a84e-11e7-8d3d-8358aebc3

[2017-10-03 21:21] jbphet commented on #131
The fix was pretty straightforward, so I'm going to just close this.  @pixelzoom - you're welcome to review the changes if you're so inclined.

[2017-10-03 21:21] #131 closed

[2017-10-18 15:23] amanda-phet opened #132 "Add credits to license file for artwork"
While discussing artwork for Equality Explorer, we discovered that Mariah Hermsmeyer is not credited for creating the coin artwork for Expression Exchange. She is listed in the about dialog, but not in the license file.

[2017-10-18 15:48] pixelzoom commented on #132
This resulted incorrect and incomplete credits in equality-explorer, see https://github.com/phetsims/equality-explorer/issues/2#issuecomment-337630327.

[2017-10-18 15:54] pixelzoom commented on #132
This seems to be a general problem with many @jbphet sims, including: arithmetic, balancing-act, faradays-law, gene-expression-essentials, isotopes-and-atomic-mass, states-of-matter.

[2017-10-18 19:26] jbphet commented on #132
I've added the line "created by Mariah Hermsmeyer" to the license file.  I somehow didn't know that we were supposed to have credits for each individual image - I thought that it only mattered that PhET owned the rights, and that having the attribution in credits was all that was desired and required.

Since @pixelzoom has listed several other sims where the "created by" attribution doesn't exist

[2017-10-18 20:55] pixelzoom commented on #132
@jbphet said:

If the image creator isn't identified in license.json, then I don't know how we would keep track of who created what images.  Perhaps we should add a "creator" field to license.json, so we don't have to duplicate "created by" in the "notes" field.  And perhaps we should discuss at developer meeting.

[2017-10-19 19:18] pixelzoom commented on #132
10/18/17 dev meeting notes:  Continue to credit the artist in "notes" field.  Do this going forward, no need to identify and update missing instances.

[2017-10-19 19:18] #132 closed

[2017-11-06 21:46] pixelzoom opened #133 "usability of dragging with touch"
Noticed while working on reusing the "halo" and "sum to zero" behavior in equality-explorer, see https://github.com/phetsims/equality-explorer/issues/17.

While dragging things around (x,-x,1,-1,...) on iPad, I find it frustrating that I can't see what I'm dragging, because it's always directly under my finger.   Also makes it more difficult to place things, and to see some of the visual cues for

[2017-11-06 21:51] amanda-phet commented on #133
Hm, we added a vertical jump to the object when using it on a touch device and tested it out to see if there was still occlusion, so I'm surprised you are still finding the object directly under your finger.

I don't have time to look at this right now, but perhaps @phet-steele can take a look (or assign an undergrad) and see what is going on?

[2017-11-06 23:16] pixelzoom commented on #133
I'm using the version published on the PhET website.  On pointer down, I do see the Node move up, but not enough that I can see more than the top 1/2 of it.  I have relatively small finger tips.

[2017-11-13 17:26] pixelzoom commented on #101
I believe that I've hit all of the potential areas of reuse.  To recap:

• Did not reuse creator pattern, too many differences between sims.
• Did not reuse method of associating inverses; having a `typeID` smells like inheritance, which is what I used in EqEx.
• Did not reuse fade animation, since it's more appropriate to do it in the view (TWEEN) in EqEx.
• Did not reuse code for fade animation,

[2017-11-13 17:26] #101 closed

[2017-11-15 20:53] jbphet commented on #127
I dug into this a bit more, and was able to catch it in the Chrome dev tools by doing an overnight fuzz test.  However, while I have more information, I still don't understand how it is happening.  Here is what I can tell:
+ The timer function to hide the button is being called after the button has been disposed
+ The scene graph parent, which in the instance caught in the debugger was a VariableC

[2017-11-17 23:17] jbphet commented on #127
The root cause of this issue is that in some cases when the `userControllerProperty` of a coin term is set to false (i.e. the user releases it) and the break-apart button is showing, one of the handlers for the change of the user controlled property removes the coin term node from the scene graph, and then a later handler tries to update the break-apart button.  However, since the button was dispo

[2017-11-20 20:19] jbphet commented on #127
The sim has passed continuous test for a while now without the problem showing up, here is an edited screenshot:

![exex-bayes](https://user-images.githubusercontent.com/3082831/33039510-6928ab66-cdf5-11e7-87d0-37f14cc3f84e.PNG)

Closing, will reopen if the issue pops up again.

[2017-11-20 20:19] #127 closed

[2018-01-24 18:28] amanda-phet commented on #124
This was done a couple months ago. Closing.

[2018-01-24 18:28] #124 closed

[2018-03-23 17:50] pixelzoom commented on #17
Reopening.  Regardless of whether 'x' and 'y' are translated, they should not be copied N times in the code.  There are currently 12 occurrences of 'x' and 9 occurrences of 'y'.   Factor out a constant.

[2018-05-10 17:08] phet-steele commented on #133
The jump-distance was refined in https://github.com/phetsims/expression-exchange/issues/112 and should not be changed so that issue doesn't occur again.

Additionally, I have zero problems with occlusion. The terms are quite far above my finger.

[2018-05-10 17:08] #133 closed

[2018-07-18 18:13] pixelzoom opened #134 "'grunt published-README' was not run in release branches"
All of the release branches for this sim still indicate that the sim is unpublished.

The master checklist for sims says:

[2018-07-18 19:11] pixelzoom commented on #134
This appears to be a problem with `grunt production`.  It runs `grunt published-README` in master, but not in the release branch.

[2018-07-23 18:34] jbphet commented on #134
I updated the README.md on this branch by cherry picking the original commit that created it on master, see 41f6df483c44b81b2e378e2936dc682aa5529837.  The README.md now looks correct on the 1.1 branch, closing.

[2018-07-23 18:34] #134 closed

[2018-07-23 18:36] jbphet commented on #134
By the way, I did NOT update the README.md on the 1.0-phetio branch, since that was a pre-release version that was used for some testing, so it seemed inappropriate for the README.md to indicate that it was a fully published sim.

[2018-08-21 15:59] pixelzoom opened #135 "Assertion failed: hide button timer should be running if pop up buttons are visible"
From CT, occurs intermittently:

expression-exchange : xss-fuzz : run
Uncaught Error: Assertion failed: hide button timer should be running if pop up buttons are visible
Error: Assertion failed: hide button timer should be running if pop up buttons are visible
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1534826071900/assert/js/assert.js:22:13)

[2018-08-24 19:44] pixelzoom opened #136 "evaluate stepper option to Carousel"
Carousel was converted to use TWIXT/Animation in https://github.com/phetsims/sun/issues/381.  The default is `stepper: 'manual'`, which means that the client must call `step` to control the Carousel's animation.   To avoid having to make changes in this sim, `stepper: 'timer'` was added to Carousel call sites, which means that the animation will run automatically using the sim Timer.

The responsi

[2018-08-27 17:35] jbphet commented on #136
I've reviewed the change, and have decided to leave it as is, i.e. using the `stepper: 'timer'` option.  This node is not currently being stepped in the implementation and I don't see much value in changing this, so I'll leave it as it was, where the animation behavior was autonomous.  Closing.

[2018-08-27 17:35] #136 closed

[2018-08-29 18:14] jbphet commented on #135
I looked at this for a while, and I believe that the assertion is firing because the timer is expiring in the same frame where a fuzz mouse event moves into the popup button.  In that frame, the timer is being cleared, then the enter event is being processed, and it is finding that the timer isn't running.  This is an extremely rare event, and it doesn't cause any erroneous behavior within the sim

[2018-08-29 18:14] #135 closed

[2018-08-29 19:14] jbphet commented on #135
By the way, I ran the fuzz test (query params=`?brand=phet&ea&fuzzMouse&fuzzTouch&stringTest=xss`) for over an hour after removing the assertion and saw no problems.

[2018-09-19 15:17] samreid opened #137 "Convert TWEEN to Twixt"
As discussed in https://github.com/phetsims/joist/issues/387#issuecomment-419600722, it would be nice to use Twixt instead of TWEEN.  This sim has 3 occurrences of `new TWEEN.Tween(...)`.  Assigning to the responsible dev.  After completing this issue, check if the hold on https://github.com/phetsims/joist/issues/387 can be removed (if this was the last "Convert from TWEEN to Twixt" issue).

[2018-10-26 15:09] KatieWoe opened #138 "CT cannot set property 1 of null"
[code]

[2018-10-29 16:39] jessegreenberg commented on #138
https://github.com/phetsims/axon/issues/192 has been closed, and this sim looks good on Bayes CT again. This issue can be closed.

[2018-10-29 16:39] #138 closed

[2018-11-06 17:05] KatieWoe opened #139 "CT: coin term not in expression"
[code]

[2019-03-15 21:20] jbphet commented on #137
Conversion complete, closing.

[2019-03-15 21:20] #137 closed

[2019-03-28 18:56] pixelzoom commented on #139
As of 3/28/19, this is still happening sporadically.

[2019-04-08 20:44] pixelzoom opened #140 "remove Tween preload?"
I don't see TWEEN used anywhere in expression-exchange or its dependencies, but I see this preload in package.json:

[code]

Can this preload be removed?

[2019-04-09 19:19] jbphet commented on #140
Yes indeed, it can be.  I've removed it and regenerated the HTML, and also removed a comment that referenced TWEEN and was no longer correct.  I must've missed this items when working on #137, so it's good this was caught.  I'm just going to close this issue, but @pixelzoom you're welcome to review if you think it's necessary when you see the GitHub notification go by.

[2019-04-09 19:19] #140 closed

[2019-04-09 19:20] jbphet commented on #140
BTW, I tested both the RequireJS and built versions after making the changes described above.

[2019-04-16 18:49] KatieWoe opened #141 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56236063-f4591700-6045-11e9-97d6-2204e3b4

[2019-04-16 18:49] #141 closed

[2019-04-22 17:15] samreid opened #142 "Use Shape.zigZagTo"
ExpressionNode has this code:

[code]

Now that  `Shape.zigZagTo` was added in https://github.com/phetsims/kite/issues/75, it may be better for this simulation to use it instead.

[2019-04-25 22:39] jbphet commented on #142
Done, works great, thanks @samreid.  Closing.

[2019-04-25 22:39] #142 closed

[2019-05-03 18:18] jbphet commented on #139
I've tried to duplicate this by fuzz testing locally, and I never hit it.  I also tried a number of use cases with the timing of expression editing and, again, I can't make it happen.  However, it's fairly easy to make it happen as a multi-touch issue by using the following sequence:
1. create an expression (any of the first three screens can be used)
2. drag a separate coin term out of the creato

[2019-05-07 20:18] jbphet commented on #139
I just checked CT, and it is showing 23 iterations over about a 12 hour time span with no occurrences of this issue.  I'm going to close this, will reopen if I see the problem recur.

[2019-05-07 20:18] #139 closed

[2020-02-21 15:42] samreid opened #143 "Dealing with dynamically selected mipmap vs image"
Related to https://github.com/phetsims/expression-exchange/issues/91 and discovered during https://github.com/phetsims/chipper/issues/874 and tagging for work during https://github.com/phetsims/chipper/issues/850

Elevating priority so we can determine if this is necessary before the migration.  Marking blocks sim publication so we can make sure to decide on this issue before next sim publication.

[2020-02-21 15:48] samreid commented on #143
Just `image!` looked OK on my mac Chrome, Safari and Firefox, so I'll start with that.

[2020-02-26 23:16] jbphet commented on #143
Looks okay to me too on Chrome on my main screen and spare monitor, and on Firefox on my main screen.  I also took a quick look at the history of the file to see if there were any obvious commits related to issues reported about image resolution, and I didn't see any.  Let's go with it.  Closing.

[2020-02-26 23:16] #143 closed

[2020-03-24 00:11] jbphet opened #144 "Current release branch missing dependency, causing translation issues"
I recently received a message from the build server that indicated a failure when someone tried to translate Expression Exchange sim into Farsi (locale=fa).  Here is an excerpt:

[code]

The currently published version is 1.1.13, so I checked out the 1.1 branch and its dependencies and looked at line 16 of `Easing.js`.  I was shocked to see an `import` statement there.  I quickly figured out that

[2020-03-24 00:21] jbphet commented on #144
By the way, this was apparently working fine until the recent cutover to ES6 modules, which makes sense I suppose, since there probably isn't much activity in this file.

Going through the commit history on the branch, it looks like the branch was created on June 26, 2017, so I'm going to add the dependency for the SHA of the twixt repo as of that date.  That appears to be https://github.com/phets

[2020-03-24 01:28] jbphet commented on #144
Okay, I think this should be fixed.  @arouinfar - can you try submitting the translation that you tried recently and see if it works?

[2020-03-24 17:18] arouinfar commented on #144
@jbphet it worked!
https://phet.colorado.edu/sims/html/expression-exchange/latest/expression-exchange_fa.html

[2020-03-24 17:18] #144 closed

[2020-07-26 20:01] samreid opened #145 "CT: Assertion failed: max of one overlapping free coin term when expression is released, seeing 2"
This looks like it may have been caused by a change in SimpleDragHandler in https://github.com/phetsims/scenery/issues/206.  One good solution would be to upgrade to use DragListener/PressListener instead of SimpleDragHandler, which is deprecated.

[code]

[2020-07-30 20:51] jbphet commented on #145
The CT error disappeared, and I pinged @samreid about it over Slack, but he didn't know why it went away.  We agreed that I could investigate whether it was reasonably easy to make the suggested change and, if not, I could just close the issue.  The change wasn't too hard, so I went forward with it.

Note that I changed from the previous drag handler to the new one without trying to use the automa

[2020-07-30 20:51] #145 closed

[2020-08-03 14:50] KatieWoe opened #146 "CT duplicates are not allowed"
[code]

[2020-08-03 23:18] jbphet commented on #146
@jonathanolson - I recently changed this sim over to using `DragListener` instead of `SimpleDragHandler` at the recommendation of @samreid (see https://github.com/phetsims/expression-exchange/issues/145).  This problem started occurring after that, but it doesn't seem to involve any sim-specific code.  In other words, based on the stack trace that I see in this GitHub issue and when I duplicate it

[2020-08-04 16:55] jonathanolson commented on #146
It's due to the listener getting an "enter", it gets removed, the pointer goes elsewhere, the listener gets re-added and gets another "enter". From https://github.com/phetsims/scenery/issues/1021 we've added a function designed to be used to work around this, called when it is essentially removed from the scene graph, commit included above seems to fix this. @jbphet can you verify, or let me know

[2020-08-04 17:47] jbphet commented on #146
@jonathanolson - the explanation makes sense, thanks for the fix.  One question: I would be inclined to call `clearOverPointers` when the drag listener is removed and not every time any update to the attachment state occurs.  This seems a little more targeted to me.  I tested this, and it too seemed to fix the problem, but I didn't commit it in case there is a reason you did it the way you did.  W

[2020-08-05 00:58] jonathanolson commented on #146
Sounds great!

[2020-08-05 17:04] jbphet commented on #146
Done, closing.

[2020-08-05 17:04] #146 closed

[2020-11-09 16:11] KatieWoe opened #147 "CT should not be called if disposed"
[code]

[2020-11-09 23:19] jbphet commented on #147
This isn't currently showing up on CT (see screenshot below).  My guess is that this was a temporary problem related to the work being done for the general support of enabled properties.  I'm going to close, and if it comes back we can re-open or create a new one.

![image](https://user-images.githubusercontent.com/3082831/98607909-54a64e00-22a7-11eb-8436-c31e5d565a38.png)

[2020-12-10 00:31] jbphet opened #148 "Convert to ES6"
This sim should be fully - or at least mostly - converted to ES6, especially with respect to using `class` instead of `inherit`.  See the parent issue https://github.com/phetsims/tasks/issues/1050 for more information.

[2020-12-10 01:05] jbphet commented on #148
This conversion is complete, but due to the pressure to complete the conversion of all sims, I was a little less thorough than I have been on other sims, and there are usages of `self` scattered about within the code that we might want to clean up one day.  For now, I'm deeming this complete, and closing.

[2020-12-10 01:05] #148 closed

[2020-12-11 20:57] oliver-phet opened #149 "User request: adjust game level 8, add level 9 for distributing a variable"

[2021-01-08 16:21] KatieWoe opened #150 "CT max of one overlapping free coin term when expression is released, seeing 2"
[code]

[2021-01-25 16:37] KatieWoe commented on #147
Showed up again, reopening:
[code]

[2021-03-04 23:08] jbphet commented on #150
I've updated the drag listeners and the drag forwarding to the latest versions, and CT has been clear for over 24 hours, so I'm going to call this good and close.

[2021-03-04 23:08] #150 closed

[2021-03-04 23:09] jbphet commented on #147
I've updated the drag listeners and the drag forwarding to the latest versions, and CT has been clear for over 24 hours, so I'm going to call this good and close.

[2021-03-08 18:34] jbphet commented on #147
Dang.  This issue appears to have occurred again over the weekend.  Here is the stack trace:

[code]

[2021-03-08 18:37] jbphet opened #151 "CT: coin term is already present in expression"
I made a number of changes to the drag handlers recently to try to fix multi-touch CT errors, but it looks like a new one may have cropped up.  Here is the stack trace:

[code]

[2021-03-11 23:11] jbphet commented on #151
I was able to duplicate this by running fuzz testing, but it took a while.  In an effort to capture exactly what test was being run, here is the URL that I used:

[code]

The stack trace looks pretty much exactly like the one that was captured during CT, so I'm pretty sure that it's the same situation.  The trace is below in case I need it for reference.

<details>
<summary>Stack trace</summary>

[2021-03-12 00:15] jbphet commented on #151
I think I have a fix for this, but it's hard to be sure because it only happened rarely in the first place, and it's difficult to say for certain that it's gone.  I tested the change locally running the fuzz test for 40 minutes with no sign of the problem, so I plan to keep an eye on CT for a couple of days and, if it doesn't show up again, I'll declare it fixed and close this issue.

The solution

[2021-03-12 19:07] jbphet commented on #151
CT is clear after about 19 hours.  I also did a bunch more local fuzz testing with the query parameters listed in the original problem report, and did not hit any assertions.  I'm going to go ahead and close this, but I'll check CT every work day (as I generally do) and will re-open if I see the same problem again.

[2021-03-12 19:11] jbphet commented on #147
I did a lot of local fuzz testing after implementing a fix for #151, and never saw this error.  I'm not sure whether this means the problem is exceedingly rare, or that the fixes for that issue also addressed this one.  I'm going to close, but will re-open if it crops up again.  If so, this may be the record for the issue with the most closes and re-opens. :-)

[2021-04-15 16:14] KatieWoe commented on #151
This is showing up in CT again:
[code]

[2021-05-06 15:43] KatieWoe opened #152 "CT cannot add the same listener twice"
[code]

[2021-05-25 17:03] jbphet commented on #151
Okay, with much effort, I have finally figured out how to duplicate this.  It requires a touch interface.  Here is the sequence:

1. Go to any of the first three screens
2. Create an expression with two or more coins/terms in it
3. Set the expression to edit mode by clicking it, then pressing the edit button (the white one with the arrows on it)
4. Press and hold somewhere on the barrier rectangle

[2021-05-25 18:27] jbphet commented on #152
I think I have a fix for this, see the commit above.

I worked on #151 at the same time and ran fuzz testing locally for a little over 1/2 hr and saw no problems.  I'll call this fixed, but will watch CT and will reopen if I see it again.  @KatieWoe - you're welcome to do the same.

[2021-05-25 18:27] #152 closed

[2021-05-25 18:29] jbphet commented on #151
I think I have a fix for this, see the commit above.  In summary, I've made it so that there is no "arming" step for getting rid of the barrier rectangle when editing expressions.  This is necessary because if an arming step is used, multi-touch situations can cause the barrier rectangle to go away when it shouldn't.

I worked on #152 at the same time and ran fuzz testing locally for a little over

[2021-05-25 18:29] #151 closed

[2021-05-26 16:10] jbphet opened #153 "CT: at least one hint should be active if there is a hovering coin term"
expression-exchange : multitouch-fuzz : unbuilt
https://bayes.colorado.edu/continuous-testing/ct-snapshots/1622022158562/expression-exchange/expression-exchange_en.html?continuousTest=%7B%22test%22%3A%5B%22expression-exchange%22%2C%22multitouch-fuzz%22%2C%22unbuilt%22%5D%2C%22snapshotName%22%3A%22snapshot-1622022158562%22%2C%22timestamp%22%3A1622024401998%7D&brand=phet&ea&fuzz&fuzzPointers=2&memor

[2021-05-27 17:44] jbphet commented on #153
This hasn't occurred in the last 25 runs of CT, and I'm unable to duplicate it by running the test locally.  I'm going to mark this as "deferred" and will un-defer it if it recurs.  Otherwise I'll close if I don't see it in, say, a month.

[2021-07-16 19:06] jbphet commented on #153
We're not seeing it recur in CT, I think we can close it.

[2021-07-16 19:06] #153 closed

[2021-07-16 19:09] jbphet commented on #118
I came across this issue while working on some other things in this repo.  The drag listeners were upgraded a while back.  @phet-steele  - can you test and see whether this problem is now gone?  If you're not doing work for PhET these days, please assign to @KatieWoe and she can take it from there.

[2021-07-16 19:14] jbphet opened #154 "Update to newer font-awesome icons"
See parent issue https://github.com/phetsims/sherpa/issues/83 for the history and background on this.

In this sim, there are two Font Awesome icons that are used, one for the scissors in the "break apart" button and one for the arrows in the "edit expression" button.  These should be updated.

[2021-07-16 19:27] jbphet commented on #154
I've made the update.  The look has changed a bit, so I thought I should make sure @amanda-phet doesn't have any major objections.  Below are before and after screen shots.  IMO, the scissors look a little worse and the exchange icon looks a little better, but I can live with the changes.

![image](https://user-images.githubusercontent.com/3082831/125998617-0ccdf9d1-c47e-4bd8-ba55-73e3740661c1.png

[2021-07-16 20:12] amanda-phet commented on #154
Bummer. I don't like those scissors nearly as much, and didn't know about the previous conversation. It doesn't make sense at this point to make custom scissors, so we can just use this FA5 icon.

[2021-07-19 16:27] jbphet commented on #154
@samreid - I noticed that a few of the FA4 icons had been kept around but were being used in the new way instead of using the old `FontAwesomeNode`.  Would it be possible to do that with these scissors, or are we trying pretty hard to move away from all FA4 nodes?

[2021-07-19 16:33] samreid commented on #154
In https://github.com/phetsims/sherpa/issues/83#issuecomment-779309694 I said:

@arouinfar replied in https://github.com/phetsims/sherpa/issues/83#issuecomment-780743547

Since we have deleted FontAwesomeNode and have established a new pattern that allows us to include single shapes from Font Awesome 4, I think it would be OK to keep a few FA4 icons, if they are better.  But perhaps we should disc

[2021-07-19 18:52] amanda-phet commented on #154
I am OK with using the new scissors, just as we are going to use a new eye with slash, and other icons that got updated. Using font awesome has overall been a nice way to integrate icons in our sims without needing custom artwork, so I think we should continue to venture forward.

[2021-07-19 19:00] arouinfar commented on #154
It's probably easiest overall to only use FA5. I'm fine with the updated scissors and eye-with-slash icons. Keeping FA4 icons around means we should review current FA usage in sims and evaluate whether FA4 or FA5 is preferable. I'd rather not go there.

[2021-07-19 19:17] samreid commented on #154
@arouinfar are you also OK with going to the font awesome 5 checkboxes?

https://fontawesome.com/v5.15/icons/check-square?style=regular
https://fontawesome.com/v5.15/icons/check-square?style=solid

Possibly with a background of
https://fontawesome.com/v5.15/icons/square?style=regular

Also, is it OK if PhET goes through a period of time where some sims have the new style and some have the old styl

[2021-07-19 19:26] arouinfar commented on #154
I didn't realize checkboxes were also FA. This is a much bigger discussion that needs to involve @kathy-phet and all relevant stakeholders, perhaps at a design meeting.

[2021-07-19 19:48] amanda-phet commented on #154
Should this discussion go back to the original issue? https://github.com/phetsims/sherpa/issues/83

I agree with Amy that we need to have a larger discussion about checkboxes since those would be a major change. Since the checkbox design existed before we were using font awesome, I wasn't aware we were using font awesome for checkboxes.

[2021-07-19 19:50] samreid commented on #154
I think we are using https://fontawesome.com/v4.7/icon/check-square-o from FA4.  And we made our own "unchecked" variant based on that.

[2021-07-19 20:39] samreid commented on #154
I moved the checkbox discussion to https://github.com/phetsims/sherpa/issues/84, back to @jbphet to see if there's anything else for expression exchange.

[2021-07-21 21:32] phet-steele commented on #118
There are still a lot of weird use cases I am seeing with multitouch involving edit buttons. (The only platform I have to test on is ChromeOS) So no, I would not say that this issue is now gone.

[2021-07-27 16:10] jbphet commented on #154
With respect to the scissors, it seems like we've decided that we will go with the FA5 version instead of the FA4 version for greater consistency, which means we're done with this issue.  Closing.

[2021-07-27 16:10] #154 closed

[2021-07-27 16:17] samreid commented on #154
We had a subsequent design meeting where we agreed to use some FA4 icons, including the scissors and checkbox.  Details are in https://github.com/phetsims/sherpa/issues/87.  Rather than reopening this, I think we can address all sims in https://github.com/phetsims/sherpa/issues/87.  Please reopen if you disagree.

[2021-11-19 18:02] markgammon opened #155 "Decide whether to turn off UI sounds on next publication"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2022-05-16 17:15] KatieWoe opened #156 "CT Cannot read properties of null (reading 'map')"
[code]

[2022-05-17 16:15] jbphet commented on #156
This seems to have disappeared, see the screenshot below.  Since I haven't been doing any work on this sim, I'm going to assume the problem was something transient in common code and close.

![image](https://user-images.githubusercontent.com/3082831/168859399-5793c489-3867-481f-8fdd-5c2c3dc23f6f.png)

[2022-05-17 16:15] #156 closed

[2022-06-06 16:37] KatieWoe commented on #147
Sorry @jbphet
[code]

[2022-07-01 20:52] jbphet commented on #147
I'd really love to understand how and why this happens, but I tried fuzzing for about 10 minutes (again) and never hit it.  It is apparently just a very rare condition.  It doesn't seem like it's worth much more time, so I just added a guard to the code to prevent it from trying to change the pickability if the coin term node has been disposed.  I think that should prevent it from ever happening a

[2022-07-01 20:52] #147 closed

[2022-10-06 16:25] pixelzoom opened #157 "Replace sim-specific code with LevelSelectionButtonGroup"
Related to https://github.com/phetsims/vegas/issues/108 ...

LevelSelectionButtonGroup is a new vegas UI component for creating the level-selection buttons for games.  It replaces boilerplate code in sims, and provides a consistent PhET-iO tandem structure.  Please convert this sim to use LevelSelectionButtonGroup.

[2022-10-10 19:24] jbphet commented on #157
Deferring this until the next time this sim needs to be published from master.  At that point, this issue should be un-deferred and addressed.

[2022-10-26 16:39] pixelzoom opened #158 "Sim uses non-standard baseColor for buttons."
Related to https://github.com/phetsims/calculus-grapher/issues/78 ...

When moving UndoButton to scenery-phet, I noticed that this sim is using 'yellow' for the baseColor of its buttons (search for 'yellow').  PhET's standard color for push buttons is PhetColorScheme.BUTTON_YELLOW, which is now the default in UndoButton.

So that this sim wasn't changed, I added `baseColor: 'yellow'` to Expression

[2022-10-26 20:02] amanda-phet commented on #158
Thanks for catching this. Is 'yellow' a different color from BUTTON_YELLOW?

Regardless of the answer, I would like this to be changed when this sim is revisited. I'm sure there are lots of benefits to using PhetColorScheme.BUTTON_YELLOW.

[2022-10-26 20:46] pixelzoom commented on #158
The are quite different.

'yellow' is `rgb( 255, 255, 0 )`.

BUTTON_YELLOW is `rgb( 254, 225, 5 )`.

[2022-10-26 20:47] pixelzoom commented on #158
I should also note that BUTTON_YELLOW was chosen to be the same as the color in the PhET logo. From PhetColorScheme.ts:

[code]

[2022-11-09 19:38] jbphet commented on #158
I've changed the usages of `'yellow'` for buttons to `PhetColorScheme.BUTTON_YELLOW`.  I left other usages of `'yellow'`, such as those for the coin halo, unchanged since these aren't buttons and don't need to match anything (and look good with their current behavior).

I don't think that change this warrants a maintenance release, so I'll defer the issue and it can be verified with QA the next ti

[2022-11-09 19:38] #158 closed